[2013-04-27 09:37] mpdn opened #1 "Multithreading/Monothreading"
In the TODO.txt, it is claimed the library isn't thread safe, but is there any reason for that to be the case? "Threadsafe" in the context of SQLite means you can open multiple connections in different threads, not that you can use a single connection in multiple threads, so I don't see any reason why this shouldn't be threadsafe if the underlying SQLite implementation is threadsafe.

[2013-04-27 11:43] #1 closed, assigned to SRombauts

[2013-06-25 12:48] kartikkumar opened #2 "Unit test suite"
Hi,

Firstly, nice looking library! Forked it and created a config file for CMake to play around with deploying it in some of my research projects.

One thing I noticed is that I can't seem to spot any unit tests that ship with the code, and I believe you've listed that as one of the goals for the library in the readme file.

Do you happen to have any unit tests written that demonstrate how the co

[2013-09-22 12:55] Aykelith opened #3 "Makefile errors"
When I make the Makefile generated by cmake I get those errors:

Scanning dependencies of target SQLiteCpp
[ 20%] Building CXX object src/CMakeFiles/SQLiteCpp.dir/Column.cpp.o
[ 40%] Building CXX object src/CMakeFiles/SQLiteCpp.dir/Database.cpp.o
[ 60%] Building CXX object src/CMakeFiles/SQLiteCpp.dir/Statement.cpp.o
/home/alexxanderx/Work/Programare/Libraries/SQLiteCpp-master/src/Statement.cpp: I

[2013-09-22 21:31] #3 closed, assigned to SRombauts

[2013-10-15 14:20] Aykelith opened #4 "Returning data from table as wstring"
I need data in table as UTF-32/UTF-16 and need to use wstring. How to do that becuase get error when try to retrieve as wstring? You will be implement this feature?

[2013-10-21 19:18] #4 closed, assigned to nobody

[2013-11-01 08:57] breezewalker opened #7 "is this line nessary ? Statement.cpp line 318: SQLITE_CPP_ASSERT (SQLITE_OK == ret);"
[code]

I encounter ret is 11, then trigger this assert.
# define SQLITE_CORRUPT     11   /\* The database disk image is malformed */

[2013-11-01 22:46] #7 closed, assigned to SRombauts

[2013-12-09 20:18] Aykelith opened #10 "Error at make"
I downloaded the new sources and when try to make I got this:
Scanning dependencies of target cppcheck
make[2]: cppcheck: Command not found
CMakeFiles/cppcheck.dir/build.make:52: recipe for target 'CMakeFiles/cppcheck' failed
make[2]: **\* [CMakeFiles/cppcheck] Error 127
CMakeFiles/Makefile2:63: recipe for target 'CMakeFiles/cppcheck.dir/all' failed
make[1]: **\* [CMakeFiles/cppcheck.dir/all] Erro

[2013-12-10 14:58] #10 closed, assigned to SRombauts

[2013-12-10 15:20] Aykelith opened #11 "Undefined reference to 'SQLite::assertion_failed'"
After maked with/without cppcheck a get those from my app:
/home/aykelith/Documents/Programare/Libs/SQLiteCpp/src/libSQLiteCpp.a(Database.cpp.o): In function `SQLite::Database::~Database()':
Database.cpp:(.text+0x22f): undefined reference to`SQLite::assertion_failed(char const_, long, char const_, char const_, char const_)'
/home/aykelith/Documents/Programare/Libs/SQLiteCpp/src/libSQLiteCpp.a(Stat

[2013-12-11 13:19] #11 closed, assigned to SRombauts

[2014-01-09 14:17] Aykelith opened #12 "Column.cpp.obj"
Switched to Windows to compile the app for Windows but I have some errors:

[2014-01-10 19:36] #12 closed, assigned to nobody

[2014-01-11 21:32] patflick opened #13 "Use std::string in place of const char* in API"
Hi,

i would propose changing the API to use `std::string` in place of `const char*`. It would still be possible to call all functions with `const char*` (which is automatically converted to `std::string`), so there will be no loss of backwards compatibility. But it would present a better, proper C++ interface. Right now I have to do the `.c_str()` conversion a lot while using this wrapper.

I wou

[2014-02-24 21:08] saaqibz opened #17 "Checking for null"
What is the preferred way of using getColumn(#).getText() when the value could be null?

Currently I am using isNull() before running the query but I am not sure if that is the best way.

[2014-02-26 17:45] #17 closed, assigned to nobody

[2014-02-26 17:46] #13 closed, assigned to nobody

[2014-03-26 19:07] kartikkumar opened #19 "Default options in main CMakeLists.txt"
Hi Sébastien,

After spending a lot of time looking through the code, I realised that the problems I was having with the newest code is due to the default options switched on in the main CMakeLists.txt file.

The options that caused me problems are:
1. `SQLITE_ENABLE_COLUMN_METADATA`: this is switched on by default, however under Mac OS X, the native SQLite library is not built with column name su

[2014-03-28 13:38] akamyshanov opened #20 "Compile error in Visual Studio due to noexcept"
Introduced here: https://github.com/SRombauts/SQLiteCpp/commit/b0e9104047b7d89d782893deacdae2a920f14374
The following states that "Visual Studio 2012 and above have noexcept", however they do not.
"In the ISO C++11 Standard, the noexcept operator is introduced, but support for this feature is not yet present in Visual C++." (http://msdn.microsoft.com/en-us/library/wfa0edys(v=vs.120).aspx)

[code]

[2014-03-28 15:40] #19 closed, assigned to nobody

[2014-03-28 15:40] #20 closed, assigned to nobody

[2014-08-06 00:42] gennesseaux opened #23 "Column by name"
Hi, tanks for your work.

Is there a way to get column by name instead of index.
Or could you add this to your todo list.

[2014-08-19 20:58] saaqibz opened #24 "Dealing with multiple inserts"
Hello, Is there a command like executemany() for dealing with multiple inserts?

[2014-09-08 18:40] worktycho opened #27 "Column Destructor generates warning in clang c++11 mode"
If Column.h is included in a file compiled in clang in c++11 mode with -Weverything set it generates a warning that auto-generating copy constructors when a destructor has been defined is depreciated.

Warning text:

[code]

[2014-09-15 12:21] AndyLing opened #28 "Assert in Statement::Ptr destructor"
Hi,

I just wanted to question the use of the assert in the Statement::Ptr destructor. It seems to me that there are some circumstances where the sqlite3_finalize can return an error that is "normal" behaviour.

For example. A statement that fails because it does an INSERT that violates a UNIQUE constraint. This error gets handled by the exception thrown by executeStep, but then the destructor gen

[2014-09-17 20:32] #27 closed, assigned to nobody

[2014-09-24 07:51] #28 closed, assigned to SRombauts

[2014-10-21 17:18] polkovnikov-ph opened #33 "No `wstring` overloads"
What about Unicode support?

[2014-10-21 17:25] reverofevil opened #34 "Better type for getColumn"
It would be better to have `getColumn<T>(n)` syntax, because we need to set the type of the return value anyway. Writing `static_cast<T>(query.getColumn(n))` is way too verbose. You can achieve that by partial specialization of some class with static methods.

[2015-01-24 20:23] hwiesmann opened #37 "Last error code cannot be accessed"
I have seen that you can access now from SQLite::Statement the last status. Why isn't there a method in SQLite::Database to get the last status / error code (,either)? This is useful in case you want to detect the reason in case an exception is raised and the exception handler has no access to the statement.

BTW: There is a method to get the last error message but not the status.

[2015-02-27 20:57] saaqibz opened #39 "SAVEPOINT"
Hi Sebastien,

I ran into an issue where I'm trying to do asynchronous concurrency on my application to keep the UI thread available. However, this ends up causing issues where transactions become embedded.

I believe sqlite does not allow begin and commits to be embedded but it does allow a form of embedded transactions to be supported using SAVEPOINT and RELEASE.
https://www.sqlite.org/lang_save

[2015-03-08 11:10] SRombauts commented on #39
Hi, sorry for the delay, I tried to look at this functionality, but I will need some time to test it.

[2015-03-08 11:20] SRombauts commented on #37
Sorry for the very unusual delay, I was busy with my family and other projects!
I've looked into this and decided to clean up the Statement class. I will remove the mLastStatus that is not always correct, and add an errcode() method (both to Database and Statement classes)

[2015-03-08 14:05] #37 closed

[2015-03-08 17:03] hwiesmann commented on #37
Hi Sébastien,

thanks for the fix!
Regards,
Hartwig

[2015-04-14 06:37] DSLituiev opened #44 "readme: misinformation as to sqlite3pp"
you state that:
sqlite3pp: uses boost, but never updated since initial publication in may 2012, MIT License

which is not true, see [its github page](https://github.com/iwongu/sqlite3pp)

[2015-04-14 14:58] #44 closed

[2015-04-14 14:59] SRombauts commented on #44
Thanks for the update: clearly, the information was outdated.

[2015-04-28 13:01] HighSparrow commented on #34
Hi SRombauts,
code in style std::string value = query.getColumn(1); did works.
while code below doesn't:
std::string value = "";
value = query.getColumn(1);
Compiler(clang)'s issue is `Use of overloaded operator '=' is ambiguous (with operand types 'std::string' (aka 'basic_string<char, char_traits<char>, allocator<char> >') and 'SQLite::Column')`
I am trying to solve it, and I found something hel

[2015-04-28 13:13] HighSparrow commented on #34
And you add method `inline operator const std::string() const` to fix an error required by GCC. I have no idea how to solve it now.

[2015-04-28 17:37] worktycho commented on #34
Also with gcc and libstdc++ the following code fails as ambigous:
`int64_t id = query.getColumn(1);`
Because libstdc++ uses longs for fixed width types, whereas sqlite uses long longs.

[2015-04-28 18:13] SRombauts commented on #34
Thanks for reporting, I'll look into this.

During this time, you could use the explicit forms like this:
[code]
and
[code]

Let me now if this suits you.
Or perhaps could you propose a new API?

[2015-04-29 07:41] SRombauts commented on #34
I have reproduced your issues and will try to work on this in the following days, but I have not much spare times for this.

[2015-04-30 01:54] ScottKaiGu opened #47 "set busy_timeout in constructor"

[2015-04-30 02:38] ScottKaiGu commented on #1
i encounter a lot of #define SQLITE_BUSY         5   errors.
is there any recommended way to use SQLiteCpp in a Multithread environment?

[2015-04-30 10:40] SRombauts commented on #47
Is Database::setBusyTimeout() not sufficient for your needs?

[2015-04-30 12:39] SRombauts commented on #1
Use Database::setBusyTimeout() on each newly opened connection with a not null value in ms so that SQLite will retry in case of contention between multiple threads.

[2015-04-30 15:39] ScottKaiGu commented on #47
oh, sorry didn't find it.
BTW, i have to set it every time. how about add an argument to Database's constructor?

[2015-04-30 20:30] #23 closed

[2015-04-30 20:34] SRombauts commented on #47
Yes, I think setting this in the constructor is a must-have.
Python binding is doing just this!

[2015-05-03 20:26] #47 closed

[2015-05-03 20:33] SRombauts commented on #47
Due tu release v1.0.0

[2015-05-03 20:38] SRombauts commented on #34
PB with 64bits long fixed for upcoming release 1.0.0

[2015-05-03 20:38] #33 closed

[2015-05-03 20:43] SRombauts commented on #2
Unit Test Suite still not perfect but now good enough for v1.0.0 release

[2015-05-03 20:43] #2 closed

[2015-05-03 21:47] kartikkumar commented on #2
@SRombauts yep, good work! The unit test suite is pretty comprehensive from what I can see.

[2015-05-05 19:40] onuraslan opened #48 "Memory error in destructor"
I started to play with SQLiteCpp. I have a simple program:

    #include "SQLiteCpp/SQLiteCpp.h"

    int main (int argc, char *argv[])
    {
      SQLite::Database db("mydb.db", SQLITE_OPEN_READWRITE | SQLITE_OPEN_CREATE);
      SQLite::Statement query(db, "INSERT INTO categories (title) VALUES (?)");
      query.bind(1, "example");
      query.exec();

      return 0;
    }

mydb.db and categori

[2015-05-05 19:47] onuraslan commented on #48
This one is result of example provided by project: https://gist.github.com/onuraslan/bd01467fb8774e2233f8

[2015-05-05 20:48] SRombauts commented on #48
Oh, just after one look on the Database destructor I can see that the error must be on the SQLITECPP_ASSERT() macro trying to get an error message on a database closed one line above!

I shall look into recent history to see how I messed this one!

I will try to reproduce and to fix this on tomorrow...

[2015-05-05 20:50] SRombauts commented on #48
Thanks a lot for reporting this!

I think it is not a real word issue as my programs, samples and unit test all seems quite happy, but this is still nasty :(

[2015-05-06 07:36] #48 closed

[2015-05-07 08:31] portwaypoint opened #50 "Adding module loading support?"
I'd like to be able to to enable module support.

In order to do this, I need to invoke this line from SQL:

SELECT load_extension('filename');

or

sqlite3_load_extension()

however this will fail until I have...

int sqlite3_enable_load_extension(sqlite3 *db, int onoff);

So, how best to add this in? I'm thinking I could either create a Utility.h with an equivalent class in the include directory

[2015-05-07 18:10] SRombauts commented on #50
Well, my preferred way would be to add it to Database, for the sake of
simplicity.

Cheers!

Le jeu. 7 mai 2015 10:31, Point <notifications@github.com> a écrit :

[2015-05-13 13:24] #50 closed

[2015-05-13 14:44] SRombauts commented on #50
Closed thanks to PR #51

[2015-05-19 10:23] aurelien35 opened #53 "Build as a DLL ?"
Hi,

I plan to use SQLiteCpp in my project (windows).

Is there any reason to not build SQLiteCpp as a DLL ?

I didn't see any DLL import / export directives, and I prefer to use a DLL due to my project's architecture.

If you want, I can add the necessary macros.

[2015-05-19 12:02] SRombauts commented on #53
If you are willing to develop and test this for your need, I will integrate it, for sure!

[2015-05-19 19:49] drakodestalo opened #54 "Is there a method to retrieve "Last Insert Rowid" ?"
Hi,

I'd like to retrieve my last inserted rowid with a method like the sqlite function sqlite3_last_insert_rowid(sqlite3*) does. Is there a method that do this?

Btw. Thank you for your great work

[2015-05-19 19:53] #54 closed

[2015-05-20 07:02] aurelien35 opened #55 "Support for string / blob data ?"
Hi,

In my application, I need to deal a lot with strings (big strings) and blob (big blob) data.

What is the current support status for these datatype in SQLiteCpp ?

Are the supported properly ? Is SQLITE_STATIC binding supported ?

Thanks.

[2015-05-20 07:06] SRombauts commented on #55
No, those are on the TODO.txt as 'wanted features'.

Honestly, they should be pretty easy to add to current API, but I never need them.

[2015-05-27 10:14] worktycho opened #58 "Compile fails in gcc 5.1.0"
In gcc 5 SQLiteCpp fails to compile as gcc 5 has noexcept, but fails SQLiteCPP's detection.

[2015-05-27 10:26] #58 closed

[2015-05-27 10:29] SRombauts commented on #58
Thanks @worktycho for reporting this!

Tell me if anything else (like compile warnings) needs more fix/cleanup/updates

[2015-05-29 15:45] HighSparrow opened #60 "Sqlite Configuration Options"
Hi SRombauts,
It seems helpful to add configuration options in Database's constructor, isn't it?
Please see http://www.sqlite.org/c3ref/c_config_getmalloc.html for details.

[2015-05-29 15:47] HighSparrow commented on #60
Here are some mode to use on different occasions:
SQLITE_CONFIG_SINGLETHREAD
This option sets the threading mode to Single-thread.
SQLITE_CONFIG_MULTITHREAD
This option sets the threading mode to Multi-thread.
SQLITE_CONFIG_SERIALIZED
This option sets the threading mode to Serialized.

[2015-06-01 02:06] ghost opened #61 "Log for statements"
Hi SRombauts,
I think it helpful to add log for sql statements, isn't it?

[2015-06-01 02:52] HighSparrow opened #62 "sqlite error code info in Exception"
Hi SRombauts,
Would it be helpful if we add sqlite error code info into SQLite::Exception?

[2015-06-01 05:42] SRombauts commented on #60
Hi, thanks for all your suggestions, I'll take some time to think and answer them.

I  mostly don't want to break existing API since I know released 1.x

Cheers!

[2015-07-24 11:45] changjurhee opened #63 "Build Error on VS2013"
error MSB6006: "cmd.exe" exited with code 1.

Here is the log message for build steps.

V:\03 git_repo\SQLiteCpp>build

V:\03 git_repo\SQLiteCpp>mkdir build
A subdirectory or file build already exists.

V:\03 git_repo\SQLiteCpp>cd build

V:\03 git_repo\SQLiteCpp\build>cmake -DSQLITECPP_BUILD_EXAMPLES=ON -DSQLITECPP_B
UILD_TESTS=ON .. -G "Visual Studio 12"
-- PYTHON_EXECUTABLE=C:/Anaconda3/python.e

[2015-07-24 13:40] SRombauts commented on #63
''''
    The source directory
        V:/03 git_repo/SQLiteCpp/googletest/CMakeLists.txt
    does not contain a CMakeLists.txt file.
''''

=> this is because you did not get the git submodule dependency ("git submodule init" + "git submodule update", see README or build.bat script)

Cheers

[2015-07-24 13:40] #63 closed

[2015-07-24 13:42] SRombauts commented on #61
Hi, sorry for not answering this: this could be helpfull, but it would add some overhead I am not wiling to impose to everyone.

We could do that through optional macros.

[2015-07-24 13:44] SRombauts commented on #62
Hi, sorry, I don't understand what you propose. Can you explain ?

[2015-07-27 02:19] HighSparrow commented on #62
Hi,
when there is a sqlite error, it would be SQLITE_ERROR, SQLITE_ABORT, SQLITE_BUSY or SQLITE_CONSTRAINT, or something others. add error code info in exception will be helpful for error handling.

[2015-07-27 02:24] HighSparrow commented on #61
Hi, you are right. I added it in my own project and found it very verbose. And the codes are ugly or poor in performance.

[2015-08-28 08:29] andilem opened #64 "Memory use after free"
Hi,
there is a problem in the Database destructor in combination with SQLITECPP_ASSERT.
At the Database destructor, sqlite3_close is called and the return value is asserted to be SQLITE_OK. The message argument for SQLITECPP_ASSERT is the character pointer returned by sqlite3_errmsg called with the pointer to the database which is invalid in case of a successful sqlite3_close. This results in read

[2015-08-28 08:49] SRombauts commented on #64
Thanks for reporting this, however this is a duplicate of #48 "Memory error in destructor" which was fixed in release 1.1.0 from may 18.

Have a look at the [current ~Database() code in master](src/Database.cpp#L82)

Do you agree?

[2015-08-28 11:14] andilem commented on #64
Yes, I agree completely.  I'm sorry for creating this duplicate.

[2015-08-28 11:32] SRombauts commented on #64
No problem :)

[2015-08-28 11:32] #64 closed

[2015-08-29 22:26] unphased commented on #2
So I follow the readme instructions with cmake, but I get `No tests were found!!!`

Any tips?

Linux here

[2015-08-30 06:03] SRombauts commented on #2
Did you 'git submodule init' and 'git submodule update'?
This is required to get the' googletest' library.

[2015-08-30 16:45] unphased commented on #2
Yes (Also that should be somewhere in the readme)

[2015-08-31 00:14] dpmcmlxxvi opened #65 "Expose sqlite handle"
Exposing the sqlite db handle pointer would be helpful to integrate with other libraries. For example, the [spatialite initialization function](http://www.gaia-gis.it/gaia-sins/splite-doxy-4.3.0/spatialite_8h.html#a7d99155b81cf494e2b370c46824250e0) takes the pointer as an argument.

[2015-08-31 06:17] SRombauts commented on #2
Thanks for reporting, I'll open an issue about documentation.

[2015-08-31 06:27] SRombauts opened #66 "Update documentation on installation and unit tests"
Add git submodule init /update to README
Explain common errors
Point on build.sh and batch scripts as examples.

[2015-09-06 10:37] #66 closed

[2015-09-06 10:39] SRombauts commented on #66
Thanks @unphased for reporting this!
Tell me if you something else is missing.

[2015-09-09 16:59] #65 closed

[2015-10-02 08:36] gennesseaux commented on #23
Thanks for your work.

[2015-10-11 10:31] kartikkumar opened #69 "Warnings generated when compiling with Clang"
Hi all,

Just thought I'd share these warnings that pop up when compiling with the Clang compiler (Apple LLVM version 7.0.0 (clang-700.0.72) on Mac OS X 10.11. They're related to Googletest and so I'm guessing they're benign. Just thought it would be good to share this for the record.

[code]

Kind regards,

Kartik

[2015-10-12 18:08] hongshibao opened #70 "Support backup of DB file"
Hi SRombauts,
Thanks for providing this good wrapper. I find I need the backup of DB file in my application. Do you think it is necessary to add this functionality? If so, I can do some help.

[2015-10-12 18:10] SRombauts commented on #70
Hi ! Yes, this is on my to-do list, but never used this myself. If you can provide a pull request I will be glad to review it!

[2015-10-23 12:07] SRombauts commented on #69
Thanks for reporting!

[2015-10-29 10:02] duongtung4691 opened #72 "Create Database in Sqlite3"
How to create Database and table in this code?? please support for me thanks

[2015-11-10 10:11] Sildra opened #73 "Wrong exception thrown by Database constructor"
The database constructor does not return the good error message with the following code :
[code]

In my case it returned an out of memory message.

Can be fixed by using `sqlite3_errstr()` instead of `sqlite3_errmsg()`.

[2015-11-10 16:31] SRombauts commented on #73
Hum, problem is that sqlite3_errstr() is availlable only on recent Linux distributions, not in the one used for continuous integration testing ; will need some #ifdef

[2015-11-10 17:32] #73 closed

[2015-11-10 17:32] SRombauts commented on #73
Thanks for reporting this!

[2015-11-10 17:34] SRombauts commented on #72
Hi, did you see the examples in the README?

Second sample shows how to create a database:

[code]

[2015-11-10 17:34] #72 closed

[2015-11-10 17:40] SRombauts commented on #69
Fix with commit a573c8c where I deactivated some not so useful specific warnings

[2015-11-10 17:40] #69 closed

[2015-11-10 17:41] SRombauts commented on #70
Fix by #71 Support backup of DB file : thanks!

[2015-11-10 17:41] #70 closed

[2015-11-19 19:51] rajko-d opened #74 "undefined reference to `__stack_chk_fail'"
When including SQLiteCpp im my cmake project I get undefined reference to `__stack_chk_fail and `__stack_chk_guard in Database.cpp and Statements.cpp while building. I'm using mingw64 5.2 on Windows 8 64bit. Any help is appreciated even if it's a proper place to ask this question.Thanks

[2015-11-19 20:02] SRombauts commented on #74
Hi,
You should try to remove the flag '-fstack-protector' from the CMakeLists.xml
Please tell me how it turns out!

[2015-11-19 20:18] rajko-d commented on #74
Builds but when run it said: Caught unhandled exception,terminating.Thanks for a really quick reply.

[2015-11-19 23:04] rajko-d commented on #74
Thanks again for your help with removing the flag '-fstack-protector' from the CMakeLists.txt file everything works great. Subsequent errors are result of my blindness :)

[2015-11-20 05:44] SRombauts commented on #74
Nice!

[2015-11-20 05:44] #74 closed

[2015-11-20 19:57] rajko-d opened #75 "Beginner question"
Do I have to declare  SQLite::Database db("test.db") every time I want to use database? Is there any static function which gets default database when I construct it first time when program starts. Sorry if I'm not precise enaugh.After several minutes of thinking I suppose I can write it myself :). Please consider this post closed.

[2015-11-20 20:12] SRombauts commented on #75
Hi! Well, in general opening a Database is synonym of opening an existing data file of an application (a SQLite3 *.db3 file). Some application have only one central db3 file, others use many of them.
Thus, in those cases there is no meaning of a "default" Database...

If what you want is "open the unique Database once and use this unique connection everywhere", then you could, for instance, use th

[2015-11-20 20:12] #75 closed

[2015-11-20 20:44] rajko-d commented on #75
Thanks.

[2015-12-24 06:16] Vienta opened #76 "Can this lib build for iOS?"
RT

[2015-12-24 13:44] SRombauts commented on #76
It should, yes, but the CMakeLists.txt would need some modifications, I suppose!

I cannot test this without a Mac. Can you try this and report here for everyone else?

[2015-12-24 13:46] SRombauts commented on #62
Sorry for not answering more directly, but yes this could get useful!

[2015-12-24 15:50] NadjibR commented on #62
Yes this is what I meant in my mail. Catch only a spécific error, or send the error code to the exception block.

[2015-12-25 00:50] HighSparrow commented on #76
what do you need, @Vienta ?

[2015-12-25 02:08] Vienta commented on #76
@HighSparrow   I have a project want to use c++ sqlite lib for cross-platform.Then I find this lib.Do you have any advices?

[2015-12-25 02:49] HighSparrow commented on #76
@Vienta  It is MIT licensed, just use the codes directly as an external part if your project is in c++.
There is no cocoapods for it, I think.
To build it as a static lib, you can port these codes in a Xcode project and use *xcodebuild* to generate libs for simulators and devices and then you can archive those libs in different archs as one by *lipo*.

[2015-12-25 03:00] Vienta commented on #76
@HighSparrow
Thx for you advice.I'll try it.

[2015-12-29 09:04] SRombauts commented on #76
Hi, thanks for the advices, and please come back with your results when you get some.

[2015-12-29 09:04] #76 closed

[2016-01-06 02:18] mahl opened #77 "Occasional "database is locked" exception when multiple threads access the same database."
We got "database is locked" exceptions sometimes when multiple threads insert into the same table in a database. We are not sharing the SQLite::Database object among threads. Each thread will create its own SQLite::Database object. The Multi-thread mode is already used. Basically our code is like:
[code]

Each thread will call this method to insert into the database. Autoincrement Id is used in th

[2016-01-06 15:29] SRombauts commented on #77
Hi, Yes, this is the universal problem of SQLite : you should never edit a database simultaneously from multiple threads, it is not designed to do this.

You have to serialize your edits, for instance using a fifo with a unique writer thread.

[2016-01-06 15:35] SRombauts commented on #77
Please have a look to online resources on thoses difficult problems, for instance using busy handlers.

See http://www.sqlite.org/cvstrac/wiki?p=MultiThreading

[2016-01-06 15:35] #77 closed

[2016-01-18 20:23] xTachyon opened #78 "UTF16 support"
Hello. I was kind of shocked when I saw your wrapper does not support for UTF16 strings. I don't know why, but I through it supports all the features of sqlite.

From sqlite site: Support for both UTF-8 and UTF-16 text.

I understand sizeof(wchar_t) on Linux is 4 bytes will not be portability if you use it.. but really, I think there are another solutions(ex: if sizeof(wchar_t) != 2 -> shrink to f

[2016-01-18 20:56] SRombauts commented on #78
Hi, yes this is related to question  #33 No `wstring` overloads: I do not plan to add full UTF16 support as this is not portable or will require much work on my part (that I don't have).

You could try to add this support where you need it, and provide me with a pull request so that I could integrate it into the master branch!

Cheers!

[2016-01-19 16:52] xTachyon commented on #78
Hello ! Thanks for your response.

I will see if I can do anything. I am still not sure if I'll go for adding the support or not.

[2016-01-19 20:32] #78 closed

[2016-03-09 11:28] bidasknakayama commented on #3
I still have this problem.

I am using sqlite3.a ( I build by myself )...

[2016-03-09 11:48] bidasknakayama commented on #3
sorry, I read this .
and I could build with the flag !
http://source.online.free.fr/Linux_HowToCompileSQLite.html
thank you. I will enjoy code : )

[2016-03-11 13:38] 4brunu commented on #76
Hey, I'm having the same problem.
@Vienta Do you solve this problem?
I'm trying to import the source files instead of creating a static lib, but the imports give me an error.
I think it’s because the import’s inside the library are #include <SQLiteCpp/Database.h> and not #include “Database.h”, but I’m not sure, could anyone help please?
I create a github repo as an example. Thanks
https://github.c

[2016-03-11 14:07] zhouxiaoxiaoxujian commented on #76
@4brunu  You should set 'Header Search Paths' like 'your_path_to/deps/SQLiteCpp/include' in xcode 'Building settings'.

[2016-03-11 14:19] 4brunu commented on #76
@zhouxiaoxiaoxujian thanks a lot, it worked! You made my day ;)

[2016-04-20 08:50] DZoki019 opened #79 "Integration with Visual Studio 2015"
I want to use this library in my (Visual Studio) project, but i dont understand how to include it. Any help?

[2016-04-20 10:50] SRombauts commented on #79
Hi, easiest way to integrate the code if you don't know anything about CMake would be to:
1. copy the source files on a directory
2. then in Visual Studio "Add existing files" to your project

[2016-04-20 11:17] DZoki019 commented on #79
Thanks a lot. I should learn more about CMake.

[2016-04-20 16:13] #79 closed

[2016-04-23 06:28] Schwertspize opened #80 "error: expected class-name before '{' token"
I try to compile Cuberite with the ndk, however, as i say "compile everything in lib and src directory",
the compilation of the example1 fails. here the error message.

### Log
-----------
[code]

[2016-04-23 06:34] SRombauts commented on #80
Hi, you are trying to compile without exception which I do not support (see your error message "error: exception handling disabled, use -fexceptions to enable").

Cheers!

[2016-04-23 06:34] #80 closed

[2016-04-23 06:49] Schwertspize commented on #80
Thank you! (I knew it wasn't a serious code problem (or I thought it wasn't) but I only saw the "not declared" messages)

[2016-04-23 06:50] SRombauts commented on #80
You're welcome :)

[2016-04-23 07:53] Schwertspize commented on #80
I am now getting errors with gtest.h

any way to skip the tests or what do i have to enter in my include path?

[code]

edit: maybe i can fix it by excluding Database_test.cpp if its not necessary

[2016-04-23 07:58] Schwertspize commented on #80
at last, i found out that i dont even have to compile the libs, just including them is enough :stuck_out_tongue:

thank you!

[2016-05-11 12:00] Aykelith opened #82 "Sqlite errors"
I'm receiving this error, using `g++ (i686-posix-dwarf-rev1, Built by MinGW-W64 project) 4.9.2`

/mingw492/SQLiteCpp/sqlite3/libsqlite3.a(sqlite3.c.obj):sqlite3.c:(.text+0x7a8fb): undefined reference to `__stack_chk_fail'

[2016-05-11 12:15] SRombauts commented on #82
Hi,

This looks like a problem with sqlite3, not with the wrapper.

Can you look if you have it with a previous version of my wrapper (because I updated the sqlite3 recently)?

[2016-05-11 13:01] Aykelith commented on #82
Tried with the last update, same problem.

[2016-05-11 13:30] SRombauts commented on #82
No, I would like to know if you can try with a "previous version" (older one) of sqlite3 or of the SQLiteCpp wrapper to see if this is a recent issue.

[2016-05-11 13:33] SRombauts commented on #82
Other thing to try, after googling your error message ([undefined-reference-to-stack-chk-fail](http://stackoverflow.com/questions/4492799/undefined-reference-to-stack-chk-fail)):
try to remove the flag [-fstack-protector on the CMakeLists.txt file of SQLiteCpp (line 33)](https://github.com/SRombauts/SQLiteCpp/blob/master/CMakeLists.txt#L33).

[2016-05-11 13:51] Aykelith commented on #82
Thanks, it worked.

[2016-05-18 13:40] SRombauts commented on #82
You are welcome!

[2016-05-18 13:40] #82 closed

[2016-05-25 09:04] MrDini123 opened #83 "Compile issue on armv5 linux"
Hi!

I tried to compile the SQLiteCpp on my nas, but it says something like this, when I try to build (make) it:

[code]

My nas has an old armv5tel based processor and an old kernel (2.6.31.8) but it works nice with same cmake based sources.

Thanks for UR answer!

[2016-05-25 09:24] SRombauts commented on #83
Hi,

I don't know why exactly this happens, but it is related to the "cpplint" task that is generated it you have Python installed.

cpplint is a static code source analyser (by Google)
=> this is only useful for development so you can just turn it of by passing -DSQLITECPP_RUN_CPPLINT=OFF to the cmake command line (at generation time)
(You can have a look to [the build.sh script](build.sh) if you

[2016-05-25 19:42] MrDini123 commented on #83
Thanks a lot man!

It solved the problem and saved my life! :)

I have a noob question, So sorry for that, but I Can't found any article or blog article about that. So how Can I install it after the "cmake --build ./"?

Ps: UR link with the build.sh gives me a 404, not found error.

[2016-05-26 05:30] SRombauts commented on #62
Implemented by @DouglasHeriot, thanks!

[2016-05-26 05:30] #62 closed

[2016-06-09 12:01] #83 closed

[2016-07-05 17:56] kassane opened #88 "Build as MinGW?"
Hello, how are you?

I would like to know how to build it using only the MinGW?

thx!

[2016-07-05 18:40] SRombauts commented on #88
Hi @kassane,

are you looking for building with MinGW on Windows, or crosscompiling under Linux?

Cheers!

[2016-07-05 19:27] kassane commented on #88
Windows!

[2016-07-05 23:26] Alexhuszagh commented on #88
@kassane It works using MSYS (MinGW in a DLL-based Cygwin-like shell, but allows for distributable executables) with the following directions:

First, open "CMakeLists.txt" and comment out all the CPPLint lines.

[code]

I'm assuming the same should also work in a standard MinGW build environment, only swapping "MSYS Makefiles" with "MinGW Makefiles".

Best of luck.

[2016-07-06 05:01] SRombauts commented on #88
you don't need to modify the CMakeLists.txt you can use the SQLITECPP_RUN_CPPLINT option like this:

mkdir build
cd build
cmake -DCMAKE_BUILD_TYPE=Debug -SQLITECPP_RUN_CPPLINT=OFF -DSQLITECPP_USE_GCOV=OFF -DSQLITECPP_BUILD_EXAMPLES=OFF -DSQLITECPP_BUILD_TESTS=OFF .. - G "MinGW Makefiles"
make

[2016-07-06 05:04] Alexhuszagh commented on #88
@SRombauts Ah thank you, my mistake.

[2016-07-07 14:00] kassane commented on #88
@SRombauts thx, but help fix it:

`Scanning dependencies of target SQLiteCpp
[ 12%] Building CXX object CMakeFiles/SQLiteCpp.dir/src/Column.cpp.obj
[ 25%] Building CXX object CMakeFiles/SQLiteCpp.dir/src/Database.cpp.obj
[ 37%] Building CXX object CMakeFiles/SQLiteCpp.dir/src/Statement.cpp.obj
[ 50%] Building CXX object CMakeFiles/SQLiteCpp.dir/src/Transaction.cpp.obj
[ 62%] Building CXX object CM

[2016-07-09 08:20] changjurhee opened #89 "MSBUILD : error MSB1009"
Hello,

I've just update the source and build it.
However, I have some build error such as MSB1009.

Here is the log message........

[code]

Here is "CMakeOutput.log"

[code]

[2016-07-18 02:40] giumas opened #92 "Why forced static runtime on MSVC?"
As in the title, I would like to understand the compelling reason to force a static runtime for the library (https://github.com/SRombauts/SQLiteCpp/blob/master/CMakeLists.txt#L24).

This is an issue for any project that wants to use `SQLiteCpp`, but also has to link to shared libraries (e.g., LGPL). Additional information in this SO answer: http://stackoverflow.com/a/4307551/2741329

I believe tha

[2016-07-18 05:05] SRombauts commented on #92
You are right, static runtime is only required/recommended by googletest, so I should force it only in coordination with unit tests.

[2016-07-18 05:58] SRombauts commented on #89
Hi, sorry, I didn't see the issue!
The problem you have is you need to "git init submodule" as stated in the README file to get the "googletest" library for unit tests (if you want to build them).

Also, I could make CMake detect that the googletest/ folder is empty when the submodule is missing and then only issue a clear warning and disable unit tests.

[2016-07-18 13:49] SRombauts commented on #55
Implemented as of #86 Add bindNoCopy methods to allow binding std::string with SQLITE_STATIC

[2016-07-18 13:49] #55 closed

[2016-07-18 18:46] jmgao opened #93 "Colliding definition of conversion functions in Column"
The guards around the conversion functions starting [here](https://github.com/SRombauts/SQLiteCpp/blob/master/include/SQLiteCpp/Column.h#L174) seem to be incorrect, leading to colliding definitions on non-apple, non-x86_64 platforms that typedef int64_t to long. (e.g. arm64 android/glibc linux). (This is only visible under clang, because of [a gcc bug](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=

[2016-07-18 19:01] SRombauts commented on #93
Hi @jmgao, thanks for the detailed report (and thanks to @4brunu)

I will sure look into this issue and your proposed solution!

[2016-07-19 10:15] SRombauts commented on #92
Hi @giumas, the fix I implemented is only the simplest option of all, that is, I know force the use of static runtime only when Unit Tests are enabled (which is OFF by default in the CMakeLists.txt).

If this does not suit your needs, please let me know.

Cheers!

[2016-07-19 10:15] #92 closed

[2016-07-19 10:15] #93 closed

[2016-07-19 10:34] SRombauts commented on #93
Thanks again @jmgao, and please @4brunu, let me know if this actually works in your use case!

[2016-07-19 10:36] SRombauts commented on #89
Hi @changjurhee,

As of 2b36f52, I've added an explicit CMake error message on missing googletest submodule.
And build.bat and build.sh now exit on error instead of trying to build or run tests.

Hope this help!
Cheers

[2016-07-19 10:36] #89 closed

[2016-07-19 12:21] SRombauts commented on #24
For future reference, [link to the python documentation](https://docs.python.org/2/library/sqlite3.html):

[code]

[2016-07-19 12:21] #61 closed

[2016-07-19 20:00] 4brunu commented on #93
It works, thanks a lot @jmgao and @SRombauts for the help.

[2016-07-19 20:01] SRombauts commented on #93
Good to hear, thanks!

[2016-07-19 20:33] giumas commented on #92
The changes solved my issue, so I don't need anymore to tweak the library's CMake.

Thank for having been so responsive!

[2016-07-19 20:50] SRombauts commented on #92
Nice!

Also, you can propose any other changes as Pull Requests if you wish.

Cheers

[2016-07-25 22:46] snej opened #94 "New Clang warning: "'extern' variable has an initializer""
The latest change to Database.cpp triggers a compiler warning from Clang:
[code]
The `extern` qualifiers on this and the other declarations here should be removed, since these are the actual definitions of the constants, not just references to them.

[2016-07-26 06:12] SRombauts commented on #94
Hi, thanks for reporting!

[2016-07-26 06:23] #94 closed

[2016-07-26 06:31] SRombauts commented on #94
Thanks to you, I released the v2.0.0 without a warning.
Cheers!

[2016-07-28 23:00] xsacha commented on #24
If you were to make this function, would it be useful to have a bool option to start transaction and end transaction around the execution?
Right now I have a function myself that does this once per second.

[2016-07-29 07:26] SRombauts commented on #24
Hi @xsacha, I am not sure of what you mean, can you give a simple example?

[2016-07-29 09:07] xsacha commented on #24
I just mean to have:

db->exec("BEGIN");
query->reset();
for (auto statement: collection)
{
    // bind everything in statement
    query->bind(..);
}
db->exec("END");

[2016-08-02 12:49] TheDerek opened #95 "There is no cmake command `add_directory` as stated in README.md"
README.md states to use the `add_directory` command, which does not exist in CMake. Perhaps you meant `add_subdirectory` or  `include_directories`.

[2016-08-02 14:24] #95 closed

[2016-08-02 14:25] SRombauts commented on #95
Thanks for reporting, this was plain wrong, and there is also no more a src/CMakeLists.txt file

[2016-08-05 07:15] agauniyal opened #97 "Add SQLiteCpp to wrapDb"
https://github.com/mesonbuild/meson
https://github.com/mesonbuild/meson/wiki

https://github.com/mesonbuild/meson/wiki/Adding%20new%20projects%20to%20wrapdb

http://wrapdb.mesonbuild.com/

Meson simplifies the entire build process for us, it would be great if `SQLiteCpp` is available there. Sqlite is already present in wrapdb, so you could probably use it as dependency.

[2016-08-13 16:15] DJLectr0 opened #98 "x64 Support?"
I was wondering how I could build this library for 64bit. I need this, as my project is 64bit only.

[2016-08-13 16:24] DJLectr0 commented on #98
Nevermind, I found it out:

    mkdir build64
    cd build64
    cmake -G "Visual Studio 12 2013 Win64" ..

[2016-08-13 16:24] #98 closed

[2016-08-13 17:07] SRombauts commented on #98
Nice to hear, I would have answer the same, but a few hours later.

Cheers!

[2016-08-16 15:36] Single34 opened #99 "Project doesn't build on arch linux."
Project doesn't build on arch linux.

Arch linux uses python3 as default python interpreter. But cpplint.py seems to require python2. Although running it without any parameter it will print out help message happily but when used with parameters it will crash without any message.

you should add something in the CMakelists.txt, perhaps before find_package(PythonInterp).

[2016-08-16 16:22] SRombauts commented on #99
Good catch, I could check python version, or update cpplint.
Thanks!

[2016-09-01 15:02] beraldofilippo opened #101 "Help build a basic example"
Hi I'm trying to build a basic working example and I've found some difficulties (using CLion IDE), and now I need help to get started.
Following the suggested steps did not make me produce a working project, basically what I've done is:
- Set up a new project in CLion
- Copied the SQLiteCpp directory into it

My main.cpp basic example is
[code]

My CmakeLists.txt is the following
[code]
Now trying

[2016-09-02 09:12] SRombauts commented on #101
Hi @beraldofilippo, what you have done is already quite good, I'll try to create a new side-repository with an example of "from scratch project" so that I can discover what can possibly go wrong.

Cheers!

[2016-09-02 09:14] beraldofilippo commented on #101
Thanks! This will be for sure  a useful resource for everyone!

[2016-09-02 16:25] SRombauts commented on #101
Hi @beraldofilippo

There is a simple mistake in your CMakeLists.txt, target_link_libraries() should target your executable, the the sqlite3 C library (and also, link pthread and dl on Linux, but not on Windows) :
[code]

[2016-09-02 16:28] SRombauts commented on #101
Please have a look at the new [SQLiteCpp_Example](https://github.com/SRombauts/SQLiteCpp_Example) side repository for a standalone "from scratch" example.

(for now only tested under Linux)

Thanks again for reporting this common problem !

Cheers!

[2016-09-02 16:28] #101 closed

[2016-09-02 16:30] SRombauts commented on #97
This seems like a good idea, but I am now lacking the time to do this, so no promise.

[2016-09-02 21:35] agauniyal commented on #97
You don't even need to build your whole project and replicate every CMake property here to allow inclusion into other projects through meson. Also I'll be happy to help along the way :smile:

[2016-09-06 09:37] beraldofilippo commented on #101
Great! Thanks!

[2016-09-13 22:38] agauniyal commented on #97
@SRombauts I've some free time across this week so I'm thinking to take a shot at this. Let's forget about tests for now and focus primarily on building this lib successfully.

I see 3 directories of interest here - `src` & `sqlite3` & `include/SQLiteCpp`. If I take all `*.cpp` files from source and all `*.h` files from include and the `sqlite3.c` + `sqlite3.h` from sqlite3 directory, is that all

[2016-09-13 22:40] agauniyal commented on #97
and ofcourse the system `sqlite3` dependency.

[2016-09-13 22:41] SRombauts commented on #97
Yes, that's it. Thanks

[2016-09-13 23:03] agauniyal commented on #97
I have another question for you, in the original sources of sqlite, like this - https://www.sqlite.org/2016/sqlite-amalgamation-3140200.zip , there are two extra files apart from `sqlite3.c` and `sqlite3.h`, which are - `shell.c` and `sqlite3ext.h`. These two files aren't included inside this repo, can I assume neither are needed?

Also `3140200` is shown as latest version, so I've two options, ei

[2016-09-14 00:06] agauniyal commented on #97
I've managed to almost build the whole project + gtest tests. However there is some kind of linker error occurring just after compilation of all units -

[code]

Have you ever seen this happening with your lib before?

[2016-09-14 00:17] agauniyal commented on #97
and if I don't build it as a static_library -

[code]

[2016-09-14 07:24] SRombauts commented on #97
Okay, so here are some answers to your questions:

1. sqlite3ext.h is for designing DLL to extend sqlite, that is, to create dynamic plugins. So it is useful only for very rare/specific use case. shell.c is the sqlite3 command line tool, so no usage for a library
2. if you have a reliable recent sqlite3 lib package, use it, it's always better than to use the source files I've added to my source tr

[2016-09-14 12:29] agauniyal commented on #97
@SRombauts thankyou for clearing my doubts, I was finally able to build it successfully :smile:

[code]

[2016-09-14 12:45] agauniyal commented on #97
Where should I put that `dl` linker dependency upon, on this project or on the sqlite3 lib? I mean to say, is that `dl` linker flag required by your project or any code that wants to work with `sqlite3.c` and `sqlite3.h` files?

[2016-09-15 14:34] agauniyal commented on #97
The build finishes successfully, the tests mostly pass (only 1 fails and that is of sqlitecpp checking sqlite's version, which is newer in my case). Here's the test report -

[code]

[2016-09-17 11:54] gencer opened #103 "Why can't I share database object?"
On native sqlite3 library i can assign db object to a class variable and use it in other methods without open everytime.

But with SQLiteC++, I cannot share the object. Assertion or memory errors occured.

All I want create SQLite::Database and assign it to class so the whole class can use the db as needed without explicitly open everytime.

[2016-09-17 12:03] SRombauts commented on #103
Hi, I am not sure of what is the problem you get. Can you share the exact log of assertion or the type of memory errors ?

Are you sharing the Database accross multiple threads? This is not allowed by SQLite itself (at least not with default compile options)

[2016-09-17 12:12] gencer commented on #103
No, Not like that. Let me explain;

[code]

[2016-09-17 12:22] SRombauts commented on #103
Okay, what I understand is that you want to open the db dynamically (that is, not in the constructor like in my examples) and then use it many times until closes.

Best way to do this would be to use a pointer to Database.

Let me get back home to make an example for you.

[2016-09-17 12:32] gencer commented on #103
@SRombauts exactly! Thank you for the example. I am awaiting your reply on this.

_BTW, For this case, which is more stable or proper? Opening every time and close at the end of execution? Or use it until app gets closed?_

[2016-09-17 14:44] SRombauts commented on #103
So, first of all, here is how I use SQLiteCpp usually, with constructors (RAII):

[code]

[2016-09-17 14:55] SRombauts commented on #103
And then, an example with dynamic allocation, using shared pointers:

[code]

All this is untested, no time presently...

[2016-09-17 18:42] gencer commented on #103
@SRombauts above code worked smoothly without single error. I also managed to adapt to my static classes.

Thanks!

[2016-09-18 18:34] SRombauts commented on #103
Very nice, I'll make à real example out of it for everyone else.
Cheers !

[2016-09-21 05:50] agauniyal commented on #97
Everything's finally resolved, just this is remaining - `SQLite exception: near "DesiredSyntaxError": syntax error`

@SRombauts if you could clarify how to resolve this, I'll upload sqlitecpp to meson build repository asap 👍

[2016-09-21 05:54] SRombauts commented on #97
Hi @agauniyal, thank you very much and sorry about the lack of support...

The DesiredSyntaxError is a flawed SQL query written by design with a syntax error to test the error mechanism :)

[2016-09-21 23:09] dianambb opened #104 "sqlite3 callback functions"
Are there plans to support sqlite3_update_hook() and similar callback functions?

[2016-10-25 12:02] amigo421 opened #105 "Using the library out of the box: manual"
I've just tried to perform first time build the library with my project using usual cmake way:

[code]

and

`include(AddSQLiteCpp)`

and got a couple of the errors:

any idea? does it require 2.7? (of course, I've disabled this temporary by adding cmake_args but i'd prefer to understand why it is there)

next one something like "no install step provided" , etc.
that is enough clear, and my curren

[2016-11-21 09:10] alext234 opened #106 "is there any update hook interface?"
For e.g. wrapper of the function sqlite3_update_hook()

[2016-11-21 16:14] SRombauts commented on #106
Hi @alext234,

No there is no such hook presently (https://github.com/SRombauts/SQLiteCpp/search?utf8=%E2%9C%93&q=sqlite3_update_hook)

If you want it is trivial to use the "raw SQLite3 database handle" to use directly any SQLite3 C API call.

Else, it would be really easy for you to implement this feature into the SQLiteCpp wrapper, then I could integrate your code if you will.

Cheers!

[2016-12-06 08:25] timrae opened #109 "Is it possible to store a blob of unsigned integers?"
I have some data of type `vector<uint8_t>` that I want to store as a blob in an sqilte database. Unfortunately there's no interface for this... Is it simple enough to add?

`statement.bindNoCopy(2, my_vector.data());`

`error: invalid conversion from ‘unsigned char*’ to ‘const char*’`

[code]

[2016-12-06 08:51] SRombauts commented on #109
Hi @timrae, yes, there is a blob APIs.

You should use the following method:
    void Statement::bindNoCopy(const int aIndex, const void* apValue, const int aSize);

which would be something like:
    statement.bindNoCopy(2, my_vector.data(), my_vector.data().size());

but you should probably add an explicit cast like that:
    statement.bindNoCopy(2, static_cast<const void*>(my_vector.data()), my

[2016-12-06 08:57] timrae commented on #109
Ooops, sorry I didn't see that, it's kind of obvious now that it shouldn't have worked without the size! The code is compiling now, thanks.

[code]

Why do you suggest explicitly casting to `const void*`?

[2016-12-06 08:57] #109 closed

[2016-12-06 13:01] SRombauts commented on #109
The method is asking for à buffer of void* so some compilers with high level of warnings will complain if you give char*

[2016-12-07 12:09] timrae opened #110 "Can statement::bind() throw an exception?"
I couldn't see any exceptions explicitly thrown in the bind code in `Statement `, but it also doesn't say `noexcept` like some of the other functions. Is it safe to call `bind()` on a statement without catching `SQLite::Exception`?

[2017-01-31 04:04] jinq0123 opened #112 "README.md format error"
- OS X 10.11 (Travis CI) And the following IDEs/Compilers

should be:

- OS X 10.11 (Travis CI)

And the following IDEs/Compilers

[2017-01-31 07:53] #112 closed

[2017-01-31 08:05] SRombauts commented on #112
Thanks !

[2017-02-01 14:29] Yanpas opened #113 "Add minimum required version to README.md"
I've truied to build this with sqlite v 3.7 and failed: sqlite3_errstr not found. Minimum required version on readme page will be good

[2017-02-01 14:57] SRombauts commented on #113
Right, thanks!

[2017-02-03 14:09] #113 closed

[2017-03-12 13:43] sinall opened #115 "Unable to install in VC++ 2015 Community"
Error Message:

[2017-04-06 15:01] #99 closed

[2017-04-07 20:52] SRombauts commented on #104
Sorry for not answering your question, but since then I answered the duplicate one #104

[2017-04-07 20:52] #104 closed

[2017-04-07 20:54] SRombauts commented on #105
Please, have a look at #101 Help build a basic example

[2017-04-07 20:54] #105 closed

[2017-04-08 06:04] SRombauts commented on #110
No, sorry byt any Statement::bind() method can throw in case of a sqlite3_bind_xxx() error

[2017-04-08 06:04] #110 closed

[2017-04-11 10:19] kaptenhonek opened #121 "Statement executeStep and reset with return code instead of throwing?"
Hi! Thanks for developing this library, it has really made it super easy to use sqlite with c++

Would it be possible add alternatives to executeStep and reset in Statement which do not throw exceptions but instead lets me handle the error code? I need this since I want to ignore foreign key violations.

Currently I need to use two try statements (one for executeStep and one for reset) and this ma

[2017-04-12 14:08] 4brunu opened #122 "Embedding sqlite inside SQLiteCpp"
First, thanks for your awesome library, it helped me a lot.

Would it be possible to embed sqlite inside SQLiteCpp and provide only one library?

Thanks

[2017-04-12 14:23] SRombauts commented on #122
Hi @4brunu,

I believe it's how it's done by default now:
1. That is, the CMakeFiles.txt now default to compile and use the cmake
2. And now thanks to #111 the SQLite3 lib itself is linked and exposed as PUBLIC interface

To be honest, I didn't test this (yet) so let me know if you have trouble with this.

Thanks

[2017-04-12 14:25] SRombauts commented on #121
Hi @kaptenhonek,

I agree with you that this would improve special case like yours.
Would you mind to try and propose such an improvement as a pull-request?

Cheers!

[2017-04-12 14:52] SRombauts opened #123 "CMake Error: install(EXPORT "SQLiteCppConfig" ...) includes target "SQLiteCpp" which requires target "sqlite3" that is not in the export set"
Using CMake 3.5.1 under Ubuntu 16.04 I now get a CMake error about the new "install" step from #118

[code]

[2017-04-12 15:15] SRombauts commented on #115
Hi @sinall, thanks for reporting, but I don't know anything about the package installation you are talking about.
Is this a MSVC nuget package or something like that?

[2017-04-12 15:17] 4brunu commented on #123
I'm getting this error too, And I think it's related to https://github.com/SRombauts/SQLiteCpp/pull/111

[2017-04-12 15:26] SRombauts commented on #123
Yes, it is, I'll have to revert since I am not able to fix this soon

[2017-04-12 15:27] 4brunu commented on #123
Seems the right thing to do, I will try to investigate https://github.com/SRombauts/SQLiteCpp/issues/122 and if I found any solution, will give you feedback.
Could you please reopen https://github.com/SRombauts/SQLiteCpp/issues/122?
Thanks

[2017-04-12 15:28] SRombauts commented on #123
Thanks!
(#122 is reopened)

[2017-04-13 22:43] kenenbek opened #124 "Problem with bind"
I have such query:
`mQuery(mDb, "SELECT * FROM bkk WHERE id in ( :LIST )"`

Everything is fine when I use:

[code]
and I have some output.

Problem occurs when I want to use more values in `:LIST`:
[code]
`mQuery.executeStep()` returns me a `false`.
I tried different ways like:
[code]
But they gives a nothing.
Is it a bug?

[2017-04-14 05:41] SRombauts commented on #124
Sorry, the SQLite3 does not support binding a list of values at once, and I did not add this to the C++ wrapper myself.

If you see some clean way to do this, through templates for instance, please contribute this back.

Cheers!

[2017-04-14 12:56] kenenbek commented on #124
Is `mDb.execAndGet(SELECT * FROM table WHERE id in ('ID1', 'ID2'))  ` not a solution here, because `execAndGet` can't return several rows?

[2017-04-15 11:45] kaptenhonek commented on #121
Sure! Do you have any suggestions on what to name those functions (execute and reset)? I'm terrible at naming stuff correctly

[2017-05-23 21:12] tdavis opened #125 "Incompatibility in 3.19.0"
Released all the way back in yesterday, and it's still broken! ;)

SQLite 3.19.0 is incompatible with this library thanks to a minor change to the main header file (`sqlite3.h`) as detailed [here](https://www.sqlite.org/src/info/19dd753f9e50fee2). I resolved this by making the same change to the forward declaration in `Database.h`. Unfortunately, I'm not sure how to fix it in a backwards-compatibl

[2017-05-24 05:16] SRombauts commented on #125
Ouch!

Thanks for reporting this...

I think our besr option is using CMake to detect the SQLite version and set a compile flag

[2017-05-24 09:19] sorinmustaca opened #126 "several compile errors in VS 2013 (SQLite version 3.19.0)"
Using the sqlite3.h and .c from the website: "C source code as an amalgamation, version 3.19.0."

Error	5	error C2352: 'SQLite::Database::check' : illegal call of non-static member function
Error	1	error C2371: 'sqlite3_value' : redefinition; different basic types
Error	3	error C2511: 'void SQLite::Database::createFunction(const char *,int,bool,void *,void (__cdecl *)(sqlite3_context *,int,sqlite3

[2017-05-24 09:53] SRombauts commented on #126
Thanks for reporting, this is a duplicate of yesterday #125 "Incompatibility in 3.19.0"

[2017-05-24 09:53] #126 closed

[2017-05-24 09:54] SRombauts commented on #125
Hey @tdavis, would you have some time to see if the version detection could be made through CMake ?

[2017-05-24 09:54] sorinmustaca commented on #125
there is a very easy solution:
In Database.h just remove all those forward declarations and simply include the header.

// Forward declarations to avoid inclusion of <sqlite3.h> in a header
//struct sqlite3;
//struct sqlite3_context;
//struct Mem;
//typedef struct Mem sqlite3_value;

#include "sqlite3.h"

[2017-05-24 09:56] SRombauts commented on #125
Thanks @sorinmustaca, that is in fact totally right, but my intent was to never include "sqlite.h" in headers to avoid "header leaks" in every application using my wrapper.

It compiles quicker in a big application if you avoid as much includes as possible.

Until today, it was working perfectly fine.

[2017-05-24 10:00] sorinmustaca commented on #125
I don't think that there is a problem with this. Modern compilers can simply exclude the re-inclusion.
I would even dare to add a #pragma once there, because this is the "Microsoft" way to prevent re-inclusions.

And, if you look in the sqlite3.h, you see:
#ifndef SQLITE3_H
#define SQLITE3_H

...
#endif

So, multiple inclusions should be excluded...

[2017-05-24 10:28] SRombauts commented on #125
Hi, thanks for the suggestion, I think I know very well how modern compilers work (I also use #pragma once in every header of the wrapper).

The problem is not with multiple inclusion of a "sqlite3.h" file: the problem is I have a 3600+ files application where I don't want those 1800 cpp files getting the inclusion to this "sqlite3.h" file.
=> when it was done like that, for sqlite3.h, windows.h,

[2017-05-24 10:33] sorinmustaca opened #127 "Question: why is there no __declspec(dllexport) or __declspec(dllimport) ?"
I need to compile everything as a DLL in order to be used from multiple programs.
I have to define in SQLiteCPP.h
#ifdef SDK_EXPORTS
#define DLL_API __declspec(dllexport)
#pragma message("Exporting symbols")
#else
#define DLL_API __declspec(dllimport)
#pragma message("Importing symbols")
#endif

and then change every class to be exportable/importable:

class _DLL_API ClassName.

Is there a reason

[2017-05-24 10:35] SRombauts commented on #127
Yes, you are welcome to provide the fix!

Someone else already tried to provide a Pull Request but it was not compiling for all platforms and was never merged, see #57

Cheers!

[2017-05-24 13:49] tallavi opened #128 "Disk I/O error when VACUUMing on android?"
Hi,

I'm not sure where the problem lie, but since this is the top level infrastructure I'm using, I'll try to post it here.

I have a project that runs on both iOS and Android. On iOS - no problem. On Android, same code, I'm getting 'disk I/O error' when performing 'VACUUM'. This is a consistent issue, happening on a specific database file in multiple devices.

What makes this file special perhap

[2017-05-24 14:35] tdavis commented on #125
I will look into doing the detection in CMake and get back to ya

[2017-05-24 16:19] tdavis commented on #125
So, the most straight forward way to accomplish this would be:

[code]

Then just use that name in `Database.h`. Unfortunately, your current `CMakeLists.txt` doesn't support this approach; it either builds a local sqlite by default or just assumes it is available for linking without using `find_package()`. Having seen #111, using `find_package()` doesn't seem like your preference. I have modified

[2017-05-24 16:23] SRombauts commented on #125
No, why not using find_package() if this solves the issue, I can change my mind depending on what is best (and still simple enough) for the users

[2017-05-24 17:19] 4brunu opened #129 "Create query parameters from class/struct"
Would it be possible to create the opposite of https://github.com/SRombauts/SQLiteCpp/pull/114, by creating an array of parameters, based on a class/struct?
Maybe with templates also?
I'm asking, because I would really appreciate it, and could try to implement it, but I'm a bit lost, and trying to find some guidance, or know if it's possible at all.
@SRombauts @dend456
Thanks

[2017-05-24 19:18] SRombauts commented on #129
Yes it's a very good question. Solving this is similar to serialization; we would like to be able to write the content of an arbitrary structure to another format. This is not trivial in C++ without reflexion features...

Heavy templates like those in Boost could do the trick (but don't ask me to write these ;) or a serialization framework could help (Qt?)

[2017-05-28 08:56] tallavi commented on #128
Found the root issue myself. Apparently the way SQLite decides where the put the temp files is not correctly supported in Android and it gets to a folder where he can't write files?

I tried changing the folder by setting an environment variable, but it didn't work.

What DID work is building sqlite with **SQLITE_TEMP_STORE=3**, which writes the temp files to memory instead. Hope it won't cause ou

[2017-05-28 09:13] SRombauts commented on #128
Thanks a lot @tallavi, sorry I didn't answer your question; I even didn't noticed it!

Also, I should probably add explicit support for Android, at least at a second-class citizen, with an How-To like you suggest.

Cheers!

[2017-05-28 09:16] SRombauts commented on #128
I could even [start an emulator in Travic CI](https://docs.travis-ci.com/user/languages/android/#How-to-Create-and-Start-an-Emulator) to run some automated test

[2017-05-28 12:17] tallavi commented on #128
That sounds nice 👍

I'm genuinely curious about why I wasn't able to use the environment variable **SQLITE_TMPDIR** to set a correct folder (app's cache folder) for temp files as guided [here](https://www.sqlite.org/tempfiles.html), and had to resort to disable temp files altogether. I tried looking on sqlite3.c but couldn't find the answer.

[2017-07-14 02:21] cycycyc opened #130 "Is it better to use T{} instead of T() in Statement::getColumns()?"
In the helper function called by getColumns<typename T, int N>, the returned T is constructed by T():
[code]
If I pass a struct without a constructor like:
[code]
There will be a error:
`error C2440: '<function-style-cast>': cannot convert from 'initializer list' to 'Statement_getColumns_Test::TestBody::Test'`
I believe the initializer list, that is, the expanded parameter pack, will be first cast

[2017-07-14 05:48] SRombauts commented on #130
Hi,

Yes this would be helpful to use with structures without a constructor.
But the current design is to be used with classes with a constructor, which is also very useful!

So perhaps can you make a second template with a slightly different name instead of modifying the current one?

[2017-07-14 06:22] cycycyc commented on #130
Thanks for your reply!

Yes, now it is useful, and changing to T{} can make it even more useful.
This change would not affect the original behavior on invoking the constructors.
Constructors can be invoked both by parentheses `T()` and by braces `T{}`.

I managed to pass the tests after I did the change, and you can double check.

[2017-07-17 13:26] #130 closed

[2017-07-17 13:27] SRombauts commented on #130
Hey @cycycyc, thanks you very much for providing this improvement and your explanations!

[2017-07-18 09:57] 4brunu opened #131 "Create a new release"
Hi, the last release was almost a year ago, and in the master branch there are some new features and bug fixes.
Would you consider creating a new release?
This is important to me, because in my team we prefer to checkout specific releases and not commit's directly.
Thanks

[2017-07-18 10:29] SRombauts commented on #131
Yes, sure, you are right about this!

[2017-07-18 11:07] SRombauts commented on #131
Wanted to update SQLite to 3.19 before the 2.1.0 release, so I hit issue #125

[2017-07-18 11:09] 4brunu commented on #131
Makes sense fix that issue before the release

[2017-07-18 12:59] SRombauts commented on #125
I tried to use a FindSQLite3.cmake file but it was not portable (Windows issues) so I followed on my previous choices to only rely on a new CMake variable SQLITE_USE_LEGACY_STRUCT that the final user can set to enable a SQLITE_USE_LEGACY_STRUCT compile flag (OFF by default)

[2017-07-18 13:00] #125 closed

[2017-07-18 13:05] SRombauts commented on #131
@4brunu let me know if the 2.1.0 release is working for you, I got it working for me but needed to use a new CMake variable SQLITE_USE_LEGACY_STRUCT that the user can set to enable a SQLITE_USE_LEGACY_STRUCT compile flag (OFF by default) to use with SQLite <3.19

[2017-07-18 13:05] #131 closed

[2017-07-18 13:28] 4brunu commented on #131
@SRombauts It works for me, thanks!

[2017-07-18 13:53] SRombauts commented on #131
Thanks!

[2017-07-21 20:46] DraTeots opened #132 "Make the library header only"
Is there anything, that prevents converting this library into a header only library?

I believe it would be very convenient in many aspects.

[2017-07-24 07:09] SRombauts commented on #132
Yes, sure, this should be very convenient. I went for this at the very beginning, but then wanted to move to more traditional dev and reduce compile times inherent to headers only.

If one can make a Python script to generate a big header file out of the many sources files, I could upload the monolithic header with each release (somewhat like the sqlite Amalgation source file)

[2017-07-24 18:19] DraTeots commented on #132
I could look into it. I saw something like this in the [Catch unit test framework](https://github.com/philsquared/Catch). While their script combines only headers, maybe It would be easy to adjust it.

[2017-07-25 19:21] DraTeots commented on #132
Looked the code, python scripts and thinking about the particular python script. I would prefer not to use full scale C++ parsing facilities.

So would it be acceptable make some current code styling to be required. Like putting comments about closing name spaces?

[code]
Such comments are already there but only as a matter of better readability, while they will become required for the script to w

[2017-07-26 08:14] SRombauts commented on #132
Yes sure, also such namespace comments are already enforced by the Python cpplint script :)

[2017-08-02 13:49] rstory1 opened #133 "Error: using typedef-name 'sqlite3_value' after 'struct'"
I am attempting to use this project in a Qt application. I have included all the necessary files, but when I try to build my project in Qt I get this error. In addition on the same line I get a conflicting declaration 'typedef int sqlite3_value'.

The errors occur on line 22 of Database.h

Could this be something on my end? An issue with the Qt compiler?

[2017-08-02 14:55] SRombauts commented on #133
This seems a duplicate of #125 Incompatibility in 3.19.0 and #126 several compile errors in VS 2013 (SQLite version 3.19.0)

[2017-08-02 14:57] SRombauts commented on #133
To use older SQLite version set the CMake variable SQLITE_USE_LEGACY_STRUCT (for instance "cmake . -DSQLITE_USE_LEGACY_STRUCT=ON")

[2017-08-02 14:57] #133 closed

[2017-08-04 05:52] pejman-hkh opened #135 "my sqlite c++ wrapper"
https://github.com/pejman-hkh/sqlite-cpp-wrapper

[2017-08-16 22:50] DraTeots commented on #132
Ok! Suppose I have a python file that generates a single header (I actually do):

[code]
It compiles, tests are passed. How to integrate it in CMake build, tests, CI etc? Need your opinion as a library author:

1. Is ```single_header/SQLiteCpp.h``` OK?

    Or `single_header/SQLiteCpp/SQLiteCpp.h`?

    Better naming? Ideas?

2. What I did now, I copied (**bad!**) tests to a separate directory and

[2017-08-21 14:05] SRombauts commented on #132
Hi @DraTeots, I am sorry but I am very busy at the moment...

We should probably move one step by one step: if you can provide the scrip, I can run it manually to release the monolithic header as a downloadable file.

I am not too eager to complexify the CMake files nor do I need to automate testing on it.

Cheers!

[2017-08-25 11:25] fnc12 opened #141 "add comparison with sqlite_orm"
https://github.com/fnc12/sqlite_orm

[2017-08-28 09:59] SRombauts commented on #141
Thanks @fnc12, I'll have a look at this project, seems great too me!

[2017-08-28 15:44] #121 closed

[2017-10-03 19:15] hintron opened #144 "Not compiling properly - help!"
Hello,

I can't seem to get sqlitecpp to work with my setup. Did I miss something obvious in my usage of sqlitecpp?

## My usage:

My makefile downloads sqlitecpp, creates a build directory, cd's into it, runs `cmake ..`, runs `make`, and then copies the built sqlitecpp lib file and source header files to a local directory called `sqlitecpp` in my project. I then use those local files in my code l

[2017-10-04 06:33] SRombauts commented on #144
Exactly, you are right, you have to set this flag to ON to use an older SQLite3 library. Something like:

cd build
cmake -DSQLITE_USE_LEGACY_STRUCT=ON - DCMAKE_BUILD_TYPE=Release ..
make

[2017-10-04 06:44] SRombauts commented on #144
This is a duplicate of the issue #125 Incompatibility in 3.19. 0 and #133

[2017-10-04 15:59] hintron opened #145 "Cmake flags are not getting passed in"
It seems that cmake flags are not getting passed in properly. Here are my build commands:

[code]
I get this output:

[code]
Notice CMAKE_CXX_FLAGS are empty! It doesn't see -DSQLITE_USE_LEGACY_STRUCT=ON.

Am I passing flags into cmake incorrectly?

The same thing happens when I run build.sh - cmake flags appear to always be empty:
[code]
[code]
I am using cmake version 3.5.1 on Ubuntu 16.04 on SQ

[2017-10-04 16:18] hintron commented on #145
Nevermind. Not an issue. Looking at CMakeCache.txt, I can see that `SQLITE_USE_LEGACY_STRUCT:BOOL=ON`

[2017-10-04 16:18] #145 closed

[2017-10-04 16:27] hintron commented on #144
This still doesn't work for me.

This is what I get when I instead run `cmake -DSQLITE_USE_LEGACY_STRUCT=ON -DCMAKE_BUILD_TYPE=Release ..`:

[code]

This looks fine, but then when I run `make`, sqlitecpp doesn't build:

[code]

[2017-10-04 17:04] hintron commented on #144
Wait... it looks like it is building against the version of sqlite that comes with sqlitecpp... So I need to get it to build against my own version of sqlite instead somehow.

[2017-10-04 17:09] hintron commented on #144
Ok, here is the fix that seems to work:
`cmake -DSQLITE_USE_LEGACY_STRUCT=ON -DSQLITECPP_INTERNAL_SQLITE=OFF ..`
By default, the SQLITECPP_INTERNAL_SQLITE cmake var is ON, which makes it try to build off the internal sqlite package that comes with sqlitecpp instead of the sqlite in sqlitelib-dev in Ubuntu.

[2017-10-04 19:37] hintron commented on #144
Found the issue! I needed to put -lSQLiteCpp as the left-most library (see [https://stackoverflow.com/a/409402](url))
This is what it looks like now:
```g++ -g Main.cpp SQLConnector.cpp -std=c++11 -I sqlitecpp -L sqlitecpp -lSQLiteCpp -ldl -lpthread -lsqlite3 -o bin/Server -DSQLITE_USE_LEGACY_STRUCT```

[2017-10-05 07:18] SRombauts commented on #144
Thanks for the update!

For the second point, I should find a way to improve that! I am reopening the issue to track this.

[2017-10-11 10:09] timrae opened #146 "Avoid ALL_CAPS for global variables"
Most C++ style guides (for example CppCoreGuidelines [NL.9](https://github.com/isocpp/CppCoreGuidelines/blob/master/CppCoreGuidelines.md#Rl-all-caps) and Google) say never to use all-caps unless you're defining a macro. This is because macros are unscoped and break your namespace encapsulation.

E.g see the following recipe for disaster:

[code]

[code]

[2017-10-11 10:14] SRombauts commented on #146
Hi @timrae, I am all with you for this, but what is your point? I mean, can you tell me what you would like to fix.

[2017-10-11 10:21] timrae commented on #146
@SRombauts
I don't currently have any library that's breaking SQLiteCpp for me, but am simply suggesting changing the naming convention so as to prevent this from happening in the future. This happened to me today with another library and I had to go through and change all of the the constants to use `CamelCase` instead of `ALL_CAPS` inline with modern C++ guidelines.

[2017-10-11 10:21] timrae commented on #146
(I realize this would probably be a controversial breaking change, I'm just putting it out there)

[2017-10-27 00:48] multiplemonomials opened #147 "Cannot bind long int value."
Hi, I've been integrating your library into my Android app, and I really like it so far.  Much more straightforward than the SOCI library I was using.
I did run into one small error though, with the following code building for Android NDK.

[code]
result:
[code]

Once I add the missing `void bind(const int aIndex, const long int      aValue);` into SQLite::Statement, everything works great.  Could

[2017-10-28 07:32] SRombauts commented on #147
Thanks for reporting this, I'll have a look at it!

[2017-11-06 12:03] #147 closed

[2017-11-06 14:33] SRombauts commented on #147
Thanks again @multiplemonomials :)
Let me know if the provided fix is not working for you!

[2017-11-12 18:16] kartikkumar opened #149 "GCC 7 -Wimplicit-fallthrough warning"
When compiling the library using GCC 7 on my MacBook Air (OSX 10.12), it throws the following warnings

[code]
This seems to be related to the default `-Wimplicit-fallthrough` flag that is set by default in GCC 7. There's a bit of background here about this: https://developers.redhat.com/blog/2017/03/10/wimplicit-fallthrough-in-gcc-7/.

Seems like the code is working ok, but it's potentially risky

[2017-11-13 10:19] SRombauts commented on #149
This is interesting, but will have to wait for a fix by the SQLite3 project itself.

Perhaps can you check by compiling [the new sqlite.c file from SQLite Release 3.21.0 On 2017-10-24](https://www.sqlite.org/releaselog/3_21_0.html) and tell me?

Cheers!

[2017-11-13 14:59] kartikkumar commented on #149
I tried re-compiling by replacing the SQLite source files from this download: `https://www.sqlite.org/2017/sqlite-amalgamation-3210000.zip`

Unfortunately, doesn't solve the issue. In any case, so long as all the tests are passing (which they are for me locally), I guess it's not an issue. Since it's upstream, I guess there's not a lot that can be done, other than filing an issue directly for SQLi

[2017-11-13 15:52] SRombauts commented on #149
Exactly. Thanks for testing though!

[2017-11-13 15:53] #149 closed

[2017-12-07 10:50] ha0x7c7 commented on #115
@SRombauts  I guess he is talking about this https://www.nuget.org/packages/SQLiteCpp/

I have difficulty in using this library inside my own project which is a basic windows console application, I cloned the repository and ran the `build.bat` file, folder named build was created with a solution, I don't know how to use this generated solution in my own project.

Regards.

[2017-12-07 11:44] SRombauts commented on #115
build.bat is only to help develop the SQLiteCpp library itself.

If you need to use the library into your project, you should probably integrate it using CMake, or you can copy the src/ and include/ files directly into your project if you prefer this.

=> Please have a look at the README.md, and at the https://github.com/SRombauts/SQLiteCpp_Example example project

[2017-12-15 14:40] faceface2 opened #152 "I used c sqlite api on c++,i got a bug,can you help me?"
I'm a chinese;my english is terrible;
    I'd like to you,i got a bug,can you help me?
    I used c sqlite api on c++,then,when i used lambda func as sqlite3_exec()'s callback params,but got "Sqlite error: query aborted",and only got a record,this is c and c++ incompatible ？

        int i;
        for (i = 0; i < argc; i++) {
            printf("%s = %s\n", azColName[i], argv[i] ? argv[i] : "NULL

[2017-12-18 14:23] SRombauts commented on #152
Hi @faceface2, I am sorry but I don't have the time to try and help you on this :(

[2017-12-18 14:23] #152 closed

[2017-12-18 14:29] SRombauts commented on #146
I am closing this, because I think that I have done it right: the only constant variables ALL_CAPS are inside the SQLite C++ namespace, so that the C #define SQLITE_OPEN_URI translate well to SQLite::OPEN_URI

ALL_CAPS here means that it is mapping to an official sqlite3 define.

Also, I understand that using a macro OPEN_URI could break this, but I am not willing to change this for now. If you th

[2017-12-18 14:29] #146 closed

[2017-12-18 14:33] SRombauts commented on #144
Well, I am closing after closer review, this since there is nothing I can do here: you need to use CMake all the way to define the variable only on CMake and everything works as expected.

Your problem is you are not using CMake so you need to define every vars by yourself on your command line.

[2017-12-18 14:33] #144 closed

[2017-12-18 14:36] #124 closed

[2017-12-18 14:39] SRombauts commented on #127
Hi @sorinmustaca, by any chance, would you be able to share your patch on this? I am still interested.

[2017-12-26 17:22] prsolucoes opened #153 "Statement parameter name suggestion"
Hi,

First, thanks to your great library. I will use it in my mobile project and my tool EzoRed (ezored.com) to build cross-platform mobile apps.

I want suggest only a thing: If the user dont put the ":" in parameter name, it can be added on bind function, no?

Query:

[code]

Instead of:

[code]

[code]

You library:

[code]

Something like this.

What you think?

[2017-12-30 17:23] #141 closed

[2018-01-16 15:54] prsolucoes opened #154 "License problem check"
Hi man,

Thanks for the awesome library.

I have downloaded the source and embedded it on my project:
https://github.com/ezored/dependency-sample/tree/master/build/source/thirdparty

I want know if it has any problem with license, because it was not modified, only copied to my library.

Thanks.

[2018-01-16 16:08] SRombauts commented on #154
Hi @prsolucoes, thanks!

The MIT License is very liberal, you can do nearly what you want with the source code, you can modify it and sell your program, you don't owe me anything :)

Enjoy!

[2018-01-16 16:08] #154 closed

[2018-02-22 21:20] tszypenbejl opened #155 "Statement::bind truncates long integer to 32 bits on x86_64 Linux"
Binding long values (which are 64-bit on x86_64 Linux) to a statement yields a surprising result.
Here is a minimal program to reproduce the problem:
[code]
The value bound to the query in this example program is 2^32+1. However, if you build and run the program on x86_64 Linux, you will see that the output of the program is '1' instead of the expected '4294967297'.

Uncommenting the first line (`

[2018-02-22 21:26] SRombauts commented on #155
Woa, thanks for diging into this, and reporting it so clearly! I bet this particular case is not on my unit test  suite :(

I  am away from my computer, but I will look into this asap

[2018-02-23 16:11] #155 closed

[2018-02-23 16:14] SRombauts commented on #155
So I easily reproduced the problem with a dedicated unit test using your code sample.

Then I fixed the bug by adding the appropriate include as you stated.

Thanks again @tszypenbejl for the clear analysis and the fix.

[2018-02-23 16:35] SRombauts commented on #153
Thank you for suggesting this. I am very busy ATM, working on entirely other technologies, so I can't develop this kind of new features, sorry.

[2018-02-23 18:12] tszypenbejl commented on #155
Thank you for taking care of the problem @SRombauts . I did a `git pull` and verified that the bug is no longer reproducible :)

[2018-02-24 10:35] SRombauts commented on #155
Thank you again

[2018-03-26 14:45] alanbirtles opened #156 "Misleading error message in exception from Statement::exec"
If Statement::exec is executed with mbDone set to true then an exception is thrown with the correct error code SQLITE_MISUSE returned from tryExec but the error message is "not an error"

[2018-03-26 15:33] SRombauts commented on #156
Good catch, thanks for reporting it!

[2018-04-05 10:16] ha0x7c7 opened #158 "How to use encryption with this library?"
How can I use encryption with this library?

[2018-04-17 05:53] greenbrettmichael opened #159 "Generate SQLiteCppConfig.cmake"
Generation of solution through CMAKE build system should produce this file to be "found" for ease of non-intrusive integrations into other projects.

[2018-04-27 10:46] pengweichu opened #160 "How to get the records count ?"
How to obtain the records count ?

[code]

[2018-08-22 15:23] timoc opened #161 "Build against sqlightning"
sqlightning is an LMDB backend based version of sqlight3 with significant speedup and multi-threading advantages. It would be great if SQLiteCPP could also abstract it as a backend.

https://github.com/LMDB/sqlightning

[2018-08-23 08:40] copyme opened #162 "Compilation warnings with gcc 7.3.1"
The gcc version information: gcc (SUSE Linux) 7.3.1 20180323 [gcc-7-branch revision 258812]

Warnings:

/home/kacper/Projects/3DTangent/src/thirdparty/SQLiteCpp/sqlite3/sqlite3.c: In function ‘sqlite3VXPrintf’:
/home/kacper/Projects/3DTangent/src/thirdparty/SQLiteCpp/sqlite3/sqlite3.c:25940:19: warning: this statement may fall through [-Wimplicit-fallthrough=]
         flag_long = sizeof(char*)==s

[2018-08-24 04:44] x-serializer opened #163 "error: unrecognized command line option "-Wpedantic""
OS:     Fedora7 x86
Compiler:     g++ 4.1.2

when i use "cmake --build .",it cause an error.
error: unrecognized command line option "-Wpedantic"

*******************
if i modify it to "-pedantic",it could run well in this os and compiler.

[2018-08-24 08:48] SRombauts commented on #163
Good to know, thanks.
But I won't try to support such an old compiler, sorry.

[2018-08-24 08:48] #163 closed

[2018-08-24 08:50] SRombauts commented on #162
Thanks for reporting.
But sorry, these warnings are in sqlite3.c itself, so I won't try and fix these.
If you can try with a more recent version of the lib, and it's fixed, I can update it for everyone else.
Cheers!

[2018-08-24 08:50] #162 closed

[2018-09-08 22:42] SirTryALot opened #164 "undefined reference to `__Atomic_fetch'"
When trying to build a shared lib of SQLiteCpp with cmake I get undefined reference to __Atomic_fetch_add_4 and __Atomic_fetch_sub_4 a in Backup.cpp. I'm using BCC32C  the extended Clang Compiler from Rad-Studio on Windows 10 64bit. I hope anybody can help. Thanks

[2018-10-30 19:06] prsolucoes opened #165 "Problem with sqlite3_load_extension"
Hi,

Im getting this error:

![image](https://user-images.githubusercontent.com/395096/47743396-bfa30000-dc5d-11e8-93d7-c17d6ef4e8f8.png)

Im using latest stable version with latest macos version.

Thanks.

[2018-11-01 09:45] nicklasaven commented on #128
I stumbled into the same problem and this issue led me to a solution.
It seems like sqlite concludes with using the current working directory for temp files.
I could manipulate that by hardcoding a path to a writable directory in the first position of azDir in function unixTempFileDir in the sqlite code which made things work.

But that is of course not a working solution.
The problem by using the

[2018-11-06 15:14] rjf12138 opened #166 "problem with SQLiteCpp-master/examples/example1/main.cpp"
operating system: Ubuntu 18.04.1 LTS

Running result:
SQlite3 version 3.20.1 (3.22.0)
SQliteC++ version 2.02.00
SQLite exception: unable to open database file

The database file cannot be found by the program. I find that the problem may be in the getExamplePath().
The \_\_FILE\_\_ under my system are returns the source file name instead of source file path

[2018-11-23 05:20] tiendq commented on #156
@alanbirtles How does it happen? Did you mention [this function](https://github.com/SRombauts/SQLiteCpp/blob/master/src/Statement.cpp#L257)?

[2018-11-23 06:07] tiendq commented on #160
@pengweichu you can do it like this:

[code]

[2018-11-23 07:51] alanbirtles commented on #156
just execute a statement twice without resetting it

[2018-11-25 05:48] CalielOfSeptem commented on #160
@tiendq When I add conditionals to the COUNT(*), it always returns zero..

`		SQLite::Statement   query(db, "SELECT COUNT(*) FROM room_cache WHERE room_path = :room_path");

		// Bind the integer value 6 to the first parameter of the SQL query
		query.bind(":room_path", room_path);

                std::string count = db.execAndGet(query.getQuery());
                std::cout << "COUNT(*) = "<< co

[2018-11-26 09:51] ChristopherCieslak opened #167 "sqlite3 library cannot be built on Linux when dynamically linked"
We are trying to create a shared library which used sqlite3 and obtain the following error only on the Linux platform:

/usr/bin/x86_64-linux-gnu-ld: ../ThirdParty/SQLiteCpp/sqlite3/libsqlite3.a(sqlite3.c.o): relocation R_X86_64_PC32 against symbol `sqlite3_mutex_enter' can not be used when making a shared object; recompile with -fPIC

It works well when adding those lines:

if (UNIX AND (CMAKE_CO

[2018-11-28 12:22] jowr opened #168 "Better MSVC support"
Thanks again for the nice work. I am willing to help improving the MSVC support and I would appreciate, if anyone could help me get started. Here is my question:

- Where should I start to add support for other compilers than MSVC 2015?

The docs correctly mention that only MSVC 2015 is supported, but there are a a few examples and build scripts around that refer to other versions of Visual Studio

[2018-11-28 14:15] jowr commented on #168
OK, MSVC 2017 was just a deprecation warning in googletest.

However, I am a little stuck with 2013 - it looks like blobs do not get handled properly. Does anyone have more information? Is this a general problem when compiling sqlite3 with MSVC2013 or is this related to SQLiteCPP?

[2018-12-03 16:01] tiendq commented on #165
Try to build with `SQLITECPP_INTERNAL_SQLITE` e.g.

`cmake -DSQLITECPP_INTERNAL_SQLITE=ON ..`

[2018-12-03 21:33] SRombauts commented on #165
Yes, the problem is your where using an external SQLite3 library without the support for load extensions.

[2018-12-03 21:33] #165 closed

[2018-12-26 03:41] gminorcoles commented on #103
Just in case anyone needs to do something like this where the SQLite wrapper objects have a lifetime beyond the scope of one method call, I also tried the approach above but I used std::unique_ptr and it seems to work fine.
std::unique_ptr suits my needs better in most cases.

[2018-12-27 22:45] prsolucoes opened #173 "Best way to use SELECT IN with this library?"
Hi,

Best way to use SELECT IN with this library?

I have a vector of string and want a way to use it into "SELECT * FROM table1 WHERE n_type IN (:values)", where ":values" bind is this vector.

There is any way to do it?

If don't have, there is any way that i can prevent injection when create on-hand query?

Thanks

[2019-01-23 13:29] IAmWebSA opened #174 "sqlite3_finalize not called if executeStep was not looped"
Calling
[code]

Results on WAL mode not working, since the finalizes is not triggered,

changing it to

[code]

makes the WAL mode working again.

BUT shall the  query.executeStep()  not finalize if it goes out of Function Scope

like

[code]

[2019-01-25 10:56] IAmWebSA opened #175 "Is it safe to loop over results and update/select other statements for same connection?"
I would like to know if it is safe to call Statements in a more layered way like

	       SQLite::Transaction trans(*mDb);
               SQLite::Statement getQuery(*mDb, "SELECT * FROM XXXX");
               while (getQuery.executeStep() == true)
               {
					SQLite::Statement insQuery(*mDb, "INSERT INTO XXX2 VALUES (Null, :name, :id, 0)" );
					insQuery.bind(":name", getQuery.getColumn

[2019-02-02 20:38] pratikpc commented on #132
@SRombauts check out [amalgamate](https://github.com/matthewcpp/cpp-amalgamate)

[2019-02-08 10:45] KOLANICH opened #178 "Precompute indices for statements' templates"
Currently indices are computed on every access, unless a user uses an index, not template.  This is worsens performance. It may make sense to precompute the stuff. Again, precomputing the unneeded stuff will likely worsen perfirmance. So we need to

1. wrap `sqlite_bind_parameter_index` into a separate function `getIndex`
2. make the compiler optimize the call to `getIndex`
2a. make the compiler t

[2019-02-08 11:54] KOLANICH opened #179 "error: conversion from 'SQLite::Column' to 'unsigned char' is ambiguous"

[2019-02-08 12:02] KOLANICH opened #180 "conversion from 'SQLite::Column' to 'const short unsigned int' is ambiguous"

[2019-02-08 21:56] KOLANICH opened #181 "Implement iterators and range-based for loops"
Lack of them defeats the purpose of this library.

[2019-02-08 22:09] SRombauts commented on #181
Can you elaborate on what you mean? In which class, for which use case?

[2019-02-09 05:54] KOLANICH commented on #181
`SQLite::Statement` for the use case of queries retrieving rows. It is surprising that an interface meant to be high-level I still have to do `executeStep` and `reset` myself.

[2019-02-11 20:44] #178 closed

[2019-02-13 03:06] StuartJohnsen commented on #158
Seconding this question, I'm trying to use SQLCipher with this via replacing the SQLite3.h / c amalgamation files but I'm having 0 luck figuring out where to go and am pretty stuck.

As an example, dropping in SQLite's 3.4.2 amalgamation files created via their standard recommendation gives me a whole bunch of errors of this nature:
[code]

[2019-02-13 07:28] ha0x7c7 commented on #158
here is how you can use encryption:
` SQLite::Database db(utf16_to_utf8(dbName), SQLite::OPEN_READWRITE);
	db.key(secretKey);
`

you must have a version of `sqlice.c` which has encryption in itself.

[2019-02-13 07:28] #158 closed

[2019-02-13 08:13] SRombauts commented on #173
No, there is no way to do that currently; this is only a thin C++ wrapper on top of the SQLite C API.

[2019-02-13 08:13] #173 closed

[2019-02-14 12:44] kartikkumar opened #184 "CMake policy OLD setting deprecated"
When I build the latest version, CMake reports the following:

[code]

I'm not familiar with `cmake-policies` so I figured I'd report this here, in case it hasn't been noted yet as something to address.

[2019-02-15 08:52] SRombauts commented on #184
Ok, thanks, I think this is the consequence or a very recent pull request I merged

[2019-02-20 11:15] kartikkumar opened #185 "Doxygen documentation warning"
Not sure if this warning is only appearing on my side when I compile, but just thought I'd report it in case it isn't.

[code]

If I clear my backlog of tasks, I'll take a look myself and see if I can solve it and create a PR.

[2019-02-27 05:32] prsolucoes opened #186 "Problems with "arm64-v8a" and "x86_64" on Android on bind method"
Hi,

Im compiling a program in archs win64, macos64, all ios archs and all android archs.

But only on Android NDK 18 "arm64-v8a" and "x86_64" i get problem:

[code]

My method is simple:

[code]

I cannot change from "int64_t" because it is used by djinni to generate all "i64" types.

Can you help me? Im need it to publish new version of my library.

Thanks.

FULL LOG

[code]

[2019-02-28 06:46] SRombauts commented on #186
Hi, yes I see what the problem is; int64_t is defined differently by compilers, sometimes as a typedef to long long (where long is only 32 bits), but sometimes only as a long, long (where long is 64 bits) and sometimes with recent compiler as a type of it's own

=> you might have to use precompiler #idfdef to try to define a new bind() method dedicated to this new int64_t type.
I though I had alre

[2019-02-28 07:07] prsolucoes commented on #186
Hi,

Im using sqlitecpp from conan, i don't know if it is relevant.

Im searching for typedefs of int64_t inside ndk, and i found this:

![image](https://user-images.githubusercontent.com/395096/53547586-3073ff00-3b0e-11e9-997d-469a48cab7c7.png)

This could help.

[2019-02-28 07:37] SRombauts commented on #186
Yes, that's exactly what I was talking about.

The problem is there is already some code to deal with that

[code]

but the #ifdef is probably not working on your platform (Android) because there the it's a new variant that would need a new #if else

[2019-02-28 07:44] SRombauts commented on #186
I would love to help more but I am already quite overloaded at my day work nowadays, and I won't be able to reproduce what you see easily ;

1. The perfect solution would be to find the correct sequence of #if else to deal with all platforms
2. the easiest solution for you would be to remove entirely all these and remove the ambiguity

The ambiguity comes from the fact that you have a multiple def

[2019-02-28 08:11] SRombauts commented on #186
For the clean solution I would like to now if you are in the #id defined LP64 branch

[2019-02-28 12:30] prsolucoes commented on #186
Hi,

How I can change source code if I’m in conan. Conan download source and compile automatic.

I will check the define.

[2019-03-02 06:39] prsolucoes commented on #186
Hi, yes. LP64 is enable for all 64bits. Because this i only have problems with arm64-v8a and x86_64.

https://stackoverflow.com/questions/6721037/where-is-lp64-defined-for-default-builds-of-c-applications-on-osx-10-6

Can you help me solve it?

[2019-03-02 08:01] SRombauts commented on #186
I will try to fix this this morning

[2019-03-02 11:00] SRombauts opened #189 "Visual Studio 2013: unit test "Column.basis" failing"
Running main() from gtest_main.cc
[==========] Running 32 tests from 7 test cases.
[----------] Global test environment set-up.
[----------] 3 tests from Column
[ RUN      ] Column.basis
C:\projects\sqlitecpp\tests\Column_test.cpp(84): error:       Expected: (size_t)size
      Which is: 4
To be equal to: sblob.size()
      Which is: 2
C:\projects\sqlitecpp\tests\Column_test.cpp(85): error:       E

[2019-03-02 13:10] SRombauts commented on #189
I think the bug is that VS2013 is picking the wrong bind() function overload:

[code]

It is using the bind() char* variant instead of void* one, perhaps because of how it's build.

[2019-03-02 17:34] SRombauts commented on #186
I am unable to reproduce, I would like to get the full error logs from your project if possible

[2019-03-02 17:35] prsolucoes commented on #186
Thanks man. Im using it with conan. Only this dependency is left fix to finish this and publish to github. I will put here the full log now. 1min.

[2019-03-02 17:39] prsolucoes commented on #186
FULL LOG:

[code]

[2019-03-02 17:39] SRombauts commented on #186
Also, I am pretty sure that there should be a' online compiler that support Android ; never thought about it (I am using Travis-ci to compile for Linux)

Do you know anything about an easy way to try to compile a short source code online or in CI for Android?

[2019-03-02 18:10] prsolucoes commented on #186
Im creating a sample and publishing it to github.

[2019-03-02 18:25] #168 closed

[2019-03-02 18:36] SRombauts commented on #168
I am happy that I had the time and energy to find this little quirks with Unit Tests under MSVC2013; was just that the binding of a char[] through a void* pointer was using the bind(char*) instead of bind(void*)

I just had to use an unsigned char[] for the buffer (as is already the norm for a binary blob in fact), so all is good now.

Thanks again for reporting this :)
Cheers!

[2019-03-02 19:16] prsolucoes commented on #186
Hi,

I have tested now:
https://github.com/prsolucoes/cmake-sqlitecpp

It is a simple repository to test.

But i detect that master version is compiling but 2.2.0 tag no.

[2019-03-02 20:41] SRombauts commented on #186
Great, thank you, I am currently looking into it.

But if I understand well what you are saying, if I release a new version of SQLiteCpp you could simply switch to it and have your app compiling! True?

[2019-03-02 21:11] SRombauts commented on #186
Ah yes, I fixed the issue one year ago:

Commit a41629f9 by Sébastien Rombauts, 23/02/2018 08:07
[code]

[2019-03-02 22:03] prsolucoes commented on #186
Ok. But can you launch a new version with this fixes?

Thanks.

[2019-03-02 23:10] SRombauts commented on #186
Yes, that's what I was proposing two comments before :)

I have been making some cleanup, and I need to go through opened issues, but I should be able to release SQLiteCpp 2.3.0 on tomorrow

[2019-03-02 23:14] SRombauts commented on #185
Mm, no, it's not appearing on my side

[2019-03-02 23:14] #185 closed

[2019-03-02 23:14] #164 closed

[2019-03-02 23:18] #167 closed

[2019-03-02 23:18] SRombauts commented on #167
Thank you for this report.
I just integrated the fix you provided!

[2019-03-02 23:19] #115 closed

[2019-03-02 23:39] SRombauts commented on #175
It's totally safe to use Statements like this, I have done it a lot.

Sorry for not answering previously!

[2019-03-02 23:39] #175 closed

[2019-03-02 23:45] SRombauts commented on #179
True, I did not provide conversion to char, short, unsigned char and unsigned short.

Not sure it's a good idea though, since this might imply a truncation. Though it could be true with other implicit cast I wrote, so why not....

Do you really use this kind of variable types?

[2019-03-02 23:46] SRombauts commented on #174
Good catch! Thanks for reporting

[2019-03-03 02:05] prsolucoes commented on #186
Ok, thanks. I’m waiting for this to release my project too.

[2019-03-03 02:06] prsolucoes commented on #186
Only post here when you release to I’m be notified.

[2019-03-03 07:17] SRombauts commented on #186
Fixed by Fix #155 Statement::bind truncates long integer to 32 bits on x86_64

[2019-03-03 07:17] #186 closed

[2019-03-03 07:41] KOLANICH commented on #179
I do.

[2019-03-03 08:24] #189 closed

[2019-03-03 08:54] #179 closed

[2019-03-03 12:06] bstaletic commented on #180
Actually every unsigned integral except `unsigned int` when one tres to do `uintXX_t result = statement.getColumn(0)`, but the solution that works is just being explicit - `uintXX_t result = statement.getColumn(0).getInt()`.

[2019-03-03 14:43] SRombauts commented on #180
Implemented with #179 a few hours ago :)

[2019-03-03 14:43] #180 closed

[2019-03-03 14:44] SRombauts commented on #184
Fixed in commit 804879d2 by reverting part of the recent #170

[2019-03-03 14:44] #184 closed

[2019-03-03 14:54] SRombauts commented on #166
Can you share how you try to execute the example?

Just try under Windows and Linux; launching from build/ folder is working well, as well as from the root folder.

[2019-03-03 14:54] #166 closed

[2019-03-03 15:11] bstaletic opened #190 "Implement move constructors"
Things like `Database` and `Statement` leverage RAII and own some kind of object, so it makes sense to make them non-copyable. However moving them around should be supported.
Consider the following:
[code]

I was trying to use this to save time constructing the `Statement` in a tight loop.

[2019-03-03 17:45] SRombauts commented on #190
Yes, it totally make sense!

At the beginning of the project I was using VS2010 Pre C++11 but now I could even make a V2 full C++11 kwas always the plan)

[2019-03-03 17:46] SRombauts commented on #190
Also, Database received a move ctor recently :)

[2019-03-03 20:05] SRombauts commented on #186
Happy to have finally released the 2.3.0 version of SQLiteCpp!
https://github.com/SRombauts/SQLiteCpp/releases

Cheers!

[2019-03-03 20:16] SRombauts opened #191 "CMake Warning line 299"
[code]

[2019-03-03 20:20] #191 closed

[2019-03-03 20:31] SRombauts commented on #190
Ok, so the first thing to note is that the Database move ctor introduced in #157 is guarded by `#if __cplusplus >= 201103L`, which sadly does not work with Visual Studio.

Second thing is there is no unit tests nor examples to this.

I'll work to improve this asap, and then complete other classes with such move semantics as appropriate.

[2019-03-04 13:47] IAmWebSA commented on #174
HI,

the problem I saw was if you have the
[code]

but the SQL query returns multiple rows and you do not loop through them the getColumn() might still have a open references?!? (just an idea)

So if the scope is too large, multiple queries in same scope, I saw this issue.

Using smaller scopes seems to fix it, but maybe the getColumn Pointer copy is the issue? (just thinking about it)

[2019-03-04 19:18] #190 closed

[2019-03-30 10:12] Linux13524 opened #193 "error C2039: '_snprintf': is not a member of 'std' - Windows MSVC 19"
Hi
A combination of SQLiteCpp with boost 1.69.0 and MSVC 19.16.27027.1 gives me following error:
[code]
The code causing this issue seems to be these three lines:
https://github.com/SRombauts/SQLiteCpp/blob/50425142fec09849c8114f8a042d72f5bcf7f5b5/include/SQLiteCpp/Utils.h#L67-L69

Changing the code like suggested [here](https://github.com/nlohmann/json/issues/1408#issuecomment-450559270) should f

[2019-03-30 12:55] #193 closed

[2019-04-02 00:57] prsolucoes opened #195 "Question about thread mode"
Hi,

We have some problems using your lib with conan because the conan sqlitecpp receipt has option "threadsafe=2" that set sqlite3 to be compiled using ```SQLITE_THREADSAFE=2```.

But we always use your library (sqlitecpp) with ```SQLITE_THREADSAFE=1``` and don't have problems.

Can you explain why i can't use ```SQLITE_THREADSAFE=1``` with your library?

If i enable ```SQLITE_THREADSAFE=2``` on

[2019-04-17 19:39] ErikBjare commented on #128
Just wanted to let you guys know that this issue was an amazing help for me in https://github.com/ActivityWatch/aw-android/issues/13.

Setting `SQLITE_TMPDIR` turned out to be all that was needed, too bad it took me days of debugging. Anyway, thanks a lot :heart:

[2019-04-30 20:44] SRombauts commented on #195
Hi @prsolucoes, I am sorry my answer never reached you; I wanted to wrote here that my SQLiteCpp wrapper does not really care of what SQLITE_THREADSAFE value you compile it with; SQLITE_THREADSAFE=1 should work for most use case

[2019-04-30 20:52] prsolucoes commented on #195
Ok.

So my suggestion is that you remove in your readme the text that you don't support other sqlite thread safe.

The conan repository is forcing the sqlite be compile with multithread because in readme you say that don´t support other methods.

Can you do this?

Thanks.

[2019-04-30 20:58] SRombauts commented on #195
You are right, I need to review the README: I think I re-wrote it after similar in the past, but I should be more explicit; the serialized option would work, but you would still have to take care of not sharing statements between threads due to the fact that the wrapper is not thread safe itself

[2019-06-03 09:18] daixian opened #200 "#define snprintf _snprintf in Utils.h File"
HI,I use this library and then one day I found a small problem:
Utils.h File define "snprintf _snprintf" at the end of the file. there maybe cause an error when using vs2017.
[https://github.com/boostorg/system/issues/32](https://github.com/boostorg/system/issues/32)

maybe it can add judgment MSC_VER like this
[code]
[https://github.com/nlohmann/json/issues/1408](https://github.com/nlohmann/json/

[2019-06-03 09:22] daixian commented on #200
e... It has been fixed

[2019-06-03 09:22] #200 closed

[2019-06-16 08:49] #24 closed

[2019-06-16 08:50] SRombauts commented on #24
This as finally been implemented and integrated, thanks to @maxbachmann!

[2019-06-16 13:20] #156 closed

[2019-06-17 08:45] ncoghlan opened #202 "Provide an Exception method to check for SQLITE_BUSY"
I'm updating an SQLiteCpp project to handle concurrent database writes from multiple processes, and am currently detecting that situation with code like:

    // There's an outer retry loop to try the transaction again if we get blocked by another writer
    try {
        ... // Code that writes to the DB
    } catch (SQLite::Exception& e) {
        /* Suppress SQLITE_BUSY errors if write attempts

[2019-06-21 04:02] os12 opened #203 "Memory leaks reported by the ASan build"
I'm running my tests and the gcc/ASan build reports the following memory leaks:

[code]

It appears that they are coming `sqlite3MemMalloc ` which, of course is called from my code via SQLiteCpp. Given that SQLite itself is tested to an insane extent, I wonder whether something SQLite-specific leaks from the wrapper classes?

Could you take a look please? That is, could you build your tests with A

[2019-06-21 10:03] SRombauts commented on #203
Thanks for reporting, it's very interesting and I should add these flags to the unit tests!

[2019-06-22 06:19] TridentTD opened #204 "[Request] support query.bindWithZeroBlob"

[2019-06-22 22:03] os12 commented on #203
OK, here is the repro for your tests with GCC 6 (and newer):

First patch the CMake spec:

[code]

Then run `./SQLiteCpp_tests`:

[code]

[2019-06-22 22:14] os12 commented on #203
It appears that the number of leaks in my code is proportional to the number of SQLite transactions. The only thing that is a bit suspicious is the `getBlob()` path. It's a pure speculation because the call is untyped and there is little coverage in the tests.

In my code I write a column as `std::string` (it holds a byte array) and then read it back as a blob. The column type is `BLOB`. I have no

[2019-06-22 22:20] os12 commented on #203
OK, I found it: it's about `SQLite::Statement::getExtendedSQL`. Let me post a patch...

[2019-06-24 20:16] #203 closed

[2019-06-24 20:18] SRombauts opened #206 "Statement executeMany not compiling with GCC 9 C++17"
See https://travis-ci.org/SRombauts/SQLiteCpp/jobs/549915202

[code]

[2019-06-24 20:19] SRombauts commented on #206
Added by #197

[2019-06-24 20:21] SRombauts commented on #206
Perhaps @maxbachmann can have a look at this?

[2019-06-24 20:24] SRombauts commented on #203
Thank you again!

[2019-06-25 14:46] maxbachmann commented on #206
@SRombauts I will look into this

[2019-06-25 17:45] maxbachmann commented on #206
@SRombauts this kind of bugged me so I tested it locally on my computer where I use gcc 9.1.1 and it worked with c++11 c++14 and c++2a without any issues ;)

[2019-06-26 08:02] maxbachmann commented on #206
It appears even though namespace std is not used the ADL (argument dependent lookup) still picks std::bind instead of SQLite::bind. So the issue can be fixed by using the scope SQLite in this place aswell

[2019-06-27 19:44] #206 closed

[2019-07-02 15:57] andrewdurkiewicz opened #209 "Are Database objects automatically closed when leaving the scope?"
I know SQLiteCpp acts as a wrapper around sqlite3, which includes a function for closing the database. I am just curious if this library automatically does that for me, so I don't need to worry about any memory leaks.

Edit, I am trying to label this under the question label but my UI seems a bit bugged.

[2019-07-02 16:11] SRombauts commented on #209
Yes exactly, the Database destructor will close the db automatically.

[2019-07-02 16:11] #209 closed

[2019-07-02 20:19] IRETD opened #210 "Reading the database header"
Why are there no functions for working with the database header?
For instance, it could be useful to get the total number of free list pages (offset 36) to calculate the actual database size before deciding whether to vacuum.

[2019-07-29 14:54] andrewdurkiewicz opened #213 "SQLiteCpp/build/libSQLiteCpp.so: undefined reference to `sqlite3_expanded_sql'"
I am receiving only one sqlite3 undefined reference error after adding the -lsqlite3 flag. But this single error has been preventing g++ from building.

[2019-08-05 21:24] mickes27 opened #214 "Exception near syntax error"
`namespace constants {
	const std::string select_external_key_query = "SELECT name FROM ? WHERE ID = ?";
}
`

Creating unique_ptr to SQL::Statement with this string as query throws "exception near ? syntax error". When deleting first ? (coresponding to table) everything works fine

[2019-08-17 15:31] jxsl13 opened #216 "CMP0048 Policy warnings, because no version is being set with project(...)"
Exactly the same problem as this here:
https://github.com/cpp-redis/cpp_redis/issues/47

[2019-08-24 06:12] prsolucoes opened #217 "Update sqlite to 3.29.0"
Hi,

Can you update sqlite to 3.29.0?

There is a new version with the sqlite3 update? If yes, answer here when it is updated to we update the conan repository.

Thanks.

[2019-08-25 19:17] #217 closed

[2019-08-25 19:18] SRombauts commented on #216
Thank you for reporting this issue.

[2019-08-25 19:34] SRombauts commented on #217
Thanks, I update to sqlite 3.29.0 and will mark the result as a new release of SQLiteCpp 2.4.0

[2019-08-25 20:00] #216 closed

[2019-08-25 20:05] SRombauts commented on #213
Hi, can you give me any more details, with some logs?

[2019-08-25 20:06] SRombauts commented on #214
Hi,

The issue is that you cannot use parameters for table name, only for values

Cheers

[2019-08-25 20:06] #214 closed

[2019-08-25 20:07] SRombauts commented on #204
Thanks for the suggestion!

Would you be able to provide a first implementation of these?

Cheers!

[2019-08-25 20:11] SRombauts commented on #217
https://github.com/SRombauts/SQLiteCpp/releases/tag/2.4.0 :)

[2019-08-26 16:53] jxsl13 commented on #216
it is also possible to get the version number from some source file like this project does: https://github.com/teeworlds/teeworlds/blob/master/CMakeLists.txt

[2019-09-01 03:36] camccar opened #218 "How to free memory after each select"
I am watching my ram usage after each select and it grows. Even after deleting my object and vector list. Is there a special function to delete the contents of the statement I am missing?

[2019-09-01 03:52] camccar commented on #218
Never mind my mistake. I wasn't freeing memory right

[2019-09-01 03:52] #218 closed

[2019-09-02 08:02] TridentTD commented on #204
These are Blob.h and Blob.cpp
that can read/write data with chunked buffer.

[code]

[code]

[2019-09-10 08:51] bnadem opened #220 "how to get query string after binding with value"
i have query string , with bind function thad add more value for query .
when i want to debug, want this query with values , not with character ?

thanks for reply

[2019-09-10 08:52] bnadem opened #221 "error 101 in insert query"
i becomme 101 error , after search "#define SQLITE_DONE        101  /* sqlite3_step() has finished executing */" but in getErrórMsg i become unknow error ,

[2019-09-11 15:32] paulocoutinhox opened #222 "Problems when compile with emscripten"
Hi,

Im trying compile this library into my wasm project, but receive this error:

[code]

MAIN ERROR

[code]

Can you help me?

Thanks.

[2019-09-13 09:45] saadlu opened #223 "clang-tidy complains on SQLite::OPEN_READWRITE | SQLite::OPEN_CREATE"
C++ newbie question really,

so clang-tidy complains on

Database db("blah.db", SQLite::OPEN_READWRITE | SQLite::OPEN_CREATE)

saying "Use of a signed integer operand with a binary bitwise operator". which seems to be case since both the constants are signed int and we are using the bitwise OR operator on them.

they are externally defined but from the code I see they are defined to

SQLITE_OPEN_R

[2019-09-18 09:31] saadlu commented on #202
+1

[2019-09-19 17:21] saadlu commented on #202
question:

the constractor of Database does take a timeout value. Alternative to above can't we just use that value to match the `remainingWriteAttempts * <whatever your default>` is?

[2019-09-20 11:45] ncoghlan commented on #202
Unfortunately not, as SQLite will sometimes kick processes out anyway in order to avoid deadlocks. When that happens, for our particular use case, we want to roll back the original transaction attempt and try again from the start.

This variant is actually our 3rd iteration on handling the write conflicts correctly, with a new thing learned each time:

* the first version tried to rely solely on t

[2019-09-23 08:30] saadlu commented on #202
thanks - good to know. For our case, I am going to increase the timeout and hope for the best. If the call fails due to lock, then be it. During a unit test it did happen and failed by test, but in production we will live with it

[2019-10-22 08:42] bnadem opened #226 "how to delete update or insert in different table with one Statement"

[2019-10-22 08:44] bnadem commented on #226
i want delete some row and insert new row in different table , more operation in one Statement? es any func tion or tips for that
Thanks.

[2019-10-24 15:42] emmenlau commented on #127
Would it be acceptable to implement this change based on a cmake-generated header for symbol visibility? cmake has everything built in to generate the header and required defines for building vs. using the library. But it would work only as long as SQLiteCpp is built with cmake (any generator and platform).

[2019-10-24 15:50] emmenlau opened #227 "Support for variadic arguments?"
I'm completely new to SQLiteCpp, so please forgive if I overlooked something.

I'm under the impression that SQLiteCpp requires an explicit call to `bind()` for each parameter, is that correct? It does not support variadic arguments for the parameters, does it?

I've seen other database libraries support variadic arguments in unprepared statements, and/or in the execution of prepared statements. I

[2019-11-05 10:10] emmenlau commented on #227
Answering my own request, I found header `SQLiteCpp/VariadicBind.h` that adds support for variadic arguments to `bind()`. Thanks!

[2019-11-05 10:10] #227 closed

[2019-11-05 10:11] SRombauts commented on #227
Nice, sorry for not answering you myself earlier

[2019-11-26 15:03] bnadem opened #233 "how to detect change or udpate column in table"
i want to fire event after change or update column in table
sqlite3_update_hook , is any solution please thanks

[2019-12-19 09:17] ASaltyFishBoy opened #238 "How do I get the error num returned by sqlite, I need to handle the exception according to the error num"
How do I get the error num returned by sqlite, I need to handle the exception according to the error num

[2019-12-23 19:08] patrick-- commented on #238
I think they should be accessible using `getErrorCode()` and `getExtendedErrorCode()`.

An example of that usage can be found in the database test file [here](https://github.com/SRombauts/SQLiteCpp/blob/c1ab7075f4133a7a9178aa6b70660e0421bcabf7/tests/Database_test.cpp#L284)

[2019-12-23 19:24] patrick-- commented on #233
@bnadem Can you elaborate on your requirements? It sounds like you want a trigger, which could be implemented  via calling `db.exec()` on at `CREATE TRIGGER` sqlite statement.

An example `CREATE TRIGGER` statement might look like this:

[code]

Then you would call `db.exec()` to execute it on the database.

[2019-12-24 20:26] SRombauts commented on #223
Hello,

I was pretty sure I had already answer this one, sorry!
This seems to be more a problem with the diagnostic because what I am doing is actually proper use of C flags.

Cheers
Sébastien

[2019-12-24 20:26] #223 closed

[2019-12-27 07:54] Deanseo opened #246 "Is a single SQLite::Database object safe to be used by multiple threads, when it's read-only?"
In the README page it's stated that:

Supposed that `SQLite::Database` represents the _connection_, what if I can guarantee that it's going to be _always_ read-only? (say, by only using `SELECT` clauses)

Will that make it thread-safe to use a single `SQLite::Database` object touched by multiple threads?

[2019-12-28 03:40] patrick-- commented on #210
@SRombauts I was thinking of tackling this - but wanted your thoughts on implementation.  What do you think of creating a structure to contain the header fields and then having a getHeaderInfo() function within the Database class that returns that struct?

[2019-12-28 09:02] SRombauts commented on #210
Hello, I don't have a knowledge of the database header. How do you access it?
What you propose seems reasonable

[2019-12-28 16:57] patrick-- commented on #210
Exactly! It's very similar to how you check if the database file is encrypted or not - except we would be parsing the entire header range for all of the different fields.

Here is a version I did in C: https://github.com/patrick--/sqlite_header_parse

I'll put an implementation / some tests together and submit a PR for your review and we can discuss further.

Thanks!

[2019-12-30 10:30] SRombauts commented on #246
Hello,
SQLiteCpp would be fine with it, but sqlite3 itself will only work with a multithreaded shared connection if you enforce the "serialized" thread safe (most expansive) mode

Cheers!

[2019-12-30 10:30] #246 closed

[2019-12-31 06:19] poldi171254 opened #250 "When specifying an out-of-tree source a binary directory must be explicitly specified."
Hi,
Trying to follow the Linux example of including the wrapper in another cmake project and am getting the following error.

/home/llist/kdedev/src/amarok/CMakeLists.txt:335: error: add_subdirectory not given a binary directory but the given source directory "/home/llist/kdedev/src/SQLiteCpp" is not a subdirectory of "/home/llist/kdedev/src/amarok".  When specifying an out-of-tree source a binary

[2019-12-31 06:55] SRombauts commented on #250
Hello, please have a look at https://stackoverflow.com/a/15570165, but in short:

If add_subdirectory is not using a subdirectory, you have to explicitly specify a binary directory for it as well. Example:

add_subdirectory(/home/llist/kdedev/src/SQLiteCpp SQLiteCpp)
The second argument given as a relative path is interpreted relative to CMAKE_CURRENT_BINARY_DIR.

Let me know how it goes,
Sébastie

[2019-12-31 18:00] patrick-- commented on #210
@SRombauts would you like me to add getHeaderInfo() usage in the `main.cpp` example file?

[2019-12-31 18:15] SRombauts commented on #210
Hello, yes why not, to end the year well :)

[2019-12-31 20:43] SRombauts commented on #210
Closing this since it has been implemented by @patrick-- in #249 Added SQLite header parsing functionality and associated tests

[2019-12-31 20:43] #210 closed

[2020-01-01 04:17] poldi171254 commented on #250
Thanks for the quick reply. Have specified the bin directory and am getting much further.
I;m trying to use Ubuntu's sqlite-dev package so I have switch off the the internal sqlite.

Seems to compile ok, but am getting these linking errors

`[100%] Built target amarokcollectionscanner
Scanning dependencies of target SQLiteCpp_autogen
[100%] Automatic MOC for target SQLiteCpp
[100%] Built target SQ

[2020-01-01 06:01] poldi171254 commented on #250
Thanks for the quick reply. Have specified the bin directory and am getting much further.
I;m trying to use Ubuntu's sqlite-dev package so I have switch off the the internal sqlite.

Seems to compile ok, but am getting these linking errors

`[100%] Built target amarokcollectionscanner
Scanning dependencies of target SQLiteCpp_autogen
[100%] Automatic MOC for target SQLiteCpp
[100%] Built target SQ

[2020-01-01 06:07] poldi171254 commented on #250
Sorry, but just realized that I gave no info of my setup.

From your original example I now only have two lines
`        find_path(WRAPPEROK
            "CMakeLists.txt"
            "../SQLiteCpp")
        if(WRAPPEROK)
            add_subdirectory(/home/llist/kdedev/src/SQLiteCpp /home/llist/kdedev/bin/SQLiteCpp)
            include_directories(/home/llist/kdedev/include/SQLiteCpp)
        else()

[2020-01-01 06:19] SRombauts commented on #250
It seems to me that it is simply not linking with libsqlite3-dev...

In this case, I think you might have hit a bug in SQLiteCpp: can you update to latest version?

Can you post the logs of CMake generating your Makefile please?

[2020-01-02 03:59] Deanseo commented on #246
@SRombauts Thanks! Happy new year!

[2020-01-02 04:34] SRombauts commented on #246
Happ new year,

[2020-01-02 23:55] poldi171254 commented on #250
Don't know much about CMake, but tried the following changes with the latest SQLiteCpp code and CMake now builds SQLiteCpp with the following command
`cmake -DCMAKE_INSTALL_PREFIX=$HOME/kdedev -DCMAKE_BUILD_TYPE=Debug -j4 -DCMAKE_VERBOSE_MAKEFILE=TRUE -DSQLITECPP_INTERNAL_SQLITE=OFF /home/llist/kdedev/src/SQLiteCpp/`

My application I'm trying to incorprate SQLiteCpp with now also builds without e

[2020-01-04 17:08] SRombauts commented on #250
Thanks

[2020-01-04 17:08] #250 closed

[2020-01-04 17:09] SRombauts commented on #238
Yes, that's true, thanks @patrick-- for answering!

[2020-01-04 17:09] #238 closed

[2020-01-04 17:11] SRombauts commented on #222
Oh, sorry for never getting back to you. To me the issue is that in Util.h I was redefining "nullptr" on compilers not having it, but as I never tried with wasm it is probably conflicting here.

I have now removed this old compatibility layer in new 3.x C++11 upcoming version on master branch.

[2020-01-04 18:34] prsolucoes commented on #222
Hi,

Ok, so this will be in new version 2.60 probably?

Thanks.

[2020-01-04 18:41] SRombauts commented on #222
I keep the 2.x branch for future bugfix releases...

so it will be a 3.0.0, hopefully quite soon

Would you be able to have a go at it (next week?)

[2020-01-04 18:57] prsolucoes commented on #222
Hi,

Don't worry my code with wasm is on stalled branch waiting for this fix, but it is not an emergency, keep your time.

Thanks.

[2020-01-05 00:19] poldi171254 commented on #250
I there anything you want me to do with the change?

[2020-01-07 02:29] poldi171254 opened #255 "Using as part of another project"
Still trying to get this to 'work' with embedding the source code; maybe I'm barking up the wrong tree.

I have built SQLiteCpp and have SQLiteCpp include directory under "kdedev/include" and libSQLiteCpp.a under "kdedev/lib/x86_64-linux-gnu".

I don't want/extect to (re)build the library from the other project. I just need the headers and the library.

My CMakeList.txt looks like this

`cmake_min

[2020-01-10 18:29] prsolucoes opened #258 "Conflict with sqlite struct - Conan recipe"
Hi,

Im trying update conan sqlitecpp recipe to version 2.5.0 but get this error:

[code]

PR:
https://github.com/conan-io/conan-center-index/pull/643

The conanfile already set "SQLITECPP_INTERNAL_SQLITE" to "OFF", so i think that it is not the problem.

Can you see another thing that can be the problem?

Thanks.

[2020-01-10 18:35] prsolucoes commented on #258
Sorry,

I need add the same patch:
[code]

[2020-01-10 18:36] prsolucoes commented on #258
This is necessary?

[code]

[2020-01-10 18:36] SRombauts commented on #258
Hello,
Not sure yet, but it reminds me of something, perhaps try a search on the issues...
I think we do redefine this struct for some version of sqlite3

[2020-01-10 19:13] SRombauts commented on #258
And about the other patchs, I don't have much time to think about it right now.
We can certainly cleanup some code

I am currently not testing Mingw so we might need to add it to the CI testing matrices

[2020-01-11 22:17] gencer opened #259 "`Release` type on Windows"
This is how I build SQLiteCpp on macOS and Ubuntu:

[code]

This builds in `RELEASE` mode, however, on Windows it seems its discards `CMAKE_BUILD_TYPE` and instead of `RELEASE`, `DEBUG` is built.

Am i missing something here? How do i build it on `RELEASE` on Windows?

[code]

[2020-01-11 22:42] gencer commented on #259
Ahhh! my main folder was Release. This contains debug files and this folder has subfolder called Release. This folder contains the release binaries. I don't know why this is different on windows.

Sorry for misleading issue. Just ignore this. Closing...

[2020-01-11 22:42] #259 closed

[2020-01-12 21:45] SRombauts commented on #255
Mm, I never try to use libs in this way, always using either the installed lib or full source.

So I am not sure of what would be wrong with your usage of  find_path & target_include_directories
Perhaps could you try with the simplest form (just to be sure)

Also, are you using latest version of the master branch?

[2020-01-13 21:38] SRombauts commented on #258
Let me know if you need anything or if I can help

[2020-01-13 21:40] SRombauts commented on #255
Let me know if you have tried with latest update on master, I have a user using the SQLiteCpp has an installed lib successfully now

[2020-01-13 21:43] prsolucoes commented on #258
Hi,

I made all the patchs and it is working now.

Thanks.

[2020-01-13 21:43] #258 closed

[2020-01-13 21:44] SRombauts commented on #258
Ok, so you don't need / want any change on the SQLiteCpp project?

[2020-01-13 21:46] prsolucoes commented on #258
No,

The patch already change some lines to include sqlite from conan:

https://github.com/conan-io/conan-center-index/pull/643/files

Thanks.

[2020-01-13 21:52] prsolucoes commented on #258
Hi,

If you want, can add on that IF statement a ELSEIF for conan include sqlite3 and we don't need the patch.

Today the patch convert your IF into THIS:

[code]

You can add some option to conan case if you want like "SQLITECPP_INTERNAL_SQLITE_BY_CONAN".

Or add internal provide options, like "SQLITECPP_INTERNAL_SQLITE_PROVIDER" with values "DEFAULT, CONAN, others".

Thanks.

[2020-01-13 22:00] prsolucoes commented on #258
Hi,

You can let "SQLITECPP_INTERNAL_SQLITE" as it is ON/OFF and inside it check the provider by "SQLITECPP_INTERNAL_SQLITE_PROVIDER".

This is my suggestion.

Thanks.

[2020-01-13 23:37] poldi171254 commented on #255
The attached CMakeLists.txt file does what I needed.
I tested it with your SQLiteCpp_Exmplle

[CMakeLists.txt](https://github.com/SRombauts/SQLiteCpp/files/4056541/CMakeLists.txt)

Thanks for your help
Leo

[2020-01-14 08:48] SRombauts opened #260 "Improve the CI configuration matrix to test C++17 & GCC 8/9"
We need to add a few more variants to Github Actions or Travis CI build matrices.

[2020-01-14 12:28] SRombauts commented on #255
Thanks for providing the CMakeLists.txt. I'll leave this open for a while, in the hope I'll get to use this in a testing script.

[2020-01-14 23:11] poldi171254 commented on #255
The easiest way to test this (in Ubuntu) is to

Build SQLiteCpp
Install in a standard directory (/usr/include /usr/lib)
Clone https://github.com/SRombauts/SQLiteCpp_Example.git
Replace the CMakeLists.txt with mine
Build and Test

Should all work.
Cheers,
Leo

[2020-01-23 13:10] bigOconstant opened #264 "Add documentation for prepared statements in transactions"
The readme shows an example of prepared statements and transactions.(Both very helpful) No examples are given showing prepared statements within transactions. If it is possible to have prepared statements within transactions could someone add an example in the readme of such a scenario?

[2020-01-25 23:57] poldi171254 opened #265 "Are there plans to enable sqlite3_collation_needed"
Not sure what the default collation is for SQLite, but are there plans to provide access to this via SQLiteCPP?
Thanks

[2020-01-27 03:04] poldi171254 opened #266 "undefined reference to `SQLite::Database::Deleter::operator()(sqlite3*)'"
I've now used SQLiteCpp for the last few week in the project I'm working on (Amarok) without any issues.
After getting the latest version of SQLiteCpp I'm getting the following error

`/usr/bin/ld: CMakeFiles/amarok_storage-sqlitestorage.dir/SQLiteStorage.cpp.o: in function `std::unique_ptr<sqlite3, SQLite::Database::Deleter>::~unique_ptr()':
/usr/include/c++/8/bits/unique_ptr.h:274: undefined ref

[2020-01-27 15:34] #88 closed

[2020-01-28 08:00] SRombauts commented on #266
Hello, would you be able to give me more information on your setup please?
OS, compiler, perhaps some flags you use to compile & link.

The error you see is clearly about some recent changes on master on converting code to C++11.
This is quite tested on a few variants for Ubuntu distros & compilers (not yet release though) but probably not enough to cover your use case I guess.

I'll have a look t

[2020-01-28 08:12] SRombauts commented on #265
Hello, there is no plan yet since I have never had the usage of collation myself.

What are your use case? How would you like it implemented on the C++ wrapper (you can already use the C library directly through the C++ wrapper)?

Sébastien

[2020-01-28 08:26] SRombauts commented on #266
I think you might simply be missing the compilation of
Database.cpp line 74:
`// Deleter functor to use with smart pointers to close the SQLite database connection in an RAII fashion.
void Database::Deleter::operator()(sqlite3* apSQLite)
`

[2020-01-28 23:48] poldi171254 commented on #266
Sorry,
The system info is
Operating System: Kubuntu 19.04
KDE Plasma Version: 5.15.4
KDE Frameworks Version: 5.56.0
Qt Version: 5.12.2
Kernel Version: 5.0.0-38-generic
OS Type: 64-bit
Processors: 6 × AMD Phenom(tm) II X6 1100T Processor
Memory: 7.8 GiB of RAM

I've attached the output from cmake and cmake --build
Thanks,
Leo
[cmakeAndBuild.txt](https://github.com/SRombauts/SQLiteCpp/files/4125441/

[2020-01-29 00:03] poldi171254 commented on #265
Hi,
I'm in the process of porting a mysql app (Amarok) to sqlite and most of the tables in mysql are defined with utf8_bin which compares strings by the binary value of each character in the string to find exact matches.

Happy to try this directly through the wrapper if you can give me an example
Thanks,
Leo

[2020-01-29 19:43] bear24rw opened #267 "'SQLiteCpp/SQLiteCpp.h' file not found"
Master branch seems to have broken header file exporting:

[code]

It works correctly with the tagged version in the example project: SQLiteCpp @ 8485bb7

[2020-01-29 20:22] SRombauts commented on #267
Hello,
can you please give a bit of context?
All CI builds are green so I suspect that it is something specific to your OS, compiler, or perhaps CMake version.

[2020-01-29 20:35] SRombauts commented on #267
Ok, I get it, let me try the example

[2020-01-29 20:49] SRombauts commented on #267
Thanks for reporting @bear24rw!

Looking at recent changes, it's easy to see that it's coming from
91fe2d75 Merge pull request #234 support for external sqlite3 from BioDataAnalysis/emmenlau_support_external_sqlite

@emmenlau any inputs on this?

Then, I should find a way to test all this with a Github Action CI in this repository, so we would keep track this on all pull requests!

[2020-01-29 20:57] #267 closed

[2020-01-29 21:01] bear24rw commented on #267
Thanks for the fast fix!

[2020-01-29 21:10] emmenlau commented on #267
I think the fix may introduce a code duplication in cmake: https://github.com/SRombauts/SQLiteCpp/commit/76bd3b2f543453e093bfffa20ea4de75dc169966#commitcomment-37028296
An idea for a simpler solution is also given in the comment. Let me know if I should make a PR for this tomorrow?

[2020-01-29 21:33] SRombauts commented on #267
Sorry, I was too tired, but I have fixed my fix thanks to your feedback :)

[2020-01-29 21:42] SRombauts commented on #266
Hello, sorry but I cannot see anything wrong in your log here... no "error"

[2020-01-30 08:09] emmenlau commented on #267
Awesome, thanks for your always quick support @SRombauts ! Let me know if there are sometimes cmake questions, I may find a bit of time to help...

[2020-01-30 08:17] SRombauts commented on #267
Ah, sadly not always quick, I have a newborn baby at home!

Right now I think that the project is nearly in a good shape for a first 3.0 release: my only one question is about the cxx standard flag.
We need to express a minimum version, not a specific required version
There is already a PR on this, would you please have a look at it?

[2020-01-30 08:32] emmenlau commented on #267
I guess its the https://github.com/SRombauts/SQLiteCpp/pull/239 about c++20?

[2020-01-30 09:09] emmenlau commented on #267
Here is a proposal: https://github.com/SRombauts/SQLiteCpp/pull/269. In my humble opinion, this new PR adds the best of all worlds. It does not need a lot of extra logic, but allows users to specify any c++ standard. It still enforces the bare minimum requirement (c++11 if tests are enabled).

What do you think?

[2020-01-31 03:19] poldi171254 commented on #266
True. The errors only show when I compile the  Amarok code that uses SQLiteCpp. I've attache a file that shows the output for the compilation for a class. The first part shows the build without any errors (previous version of SQLiteCpp). The second part show the build with the latest version of SQLiteCpp.

The Amarok code did not change between the two compiles

Leo
[CompilesDiffs.txt](https://git

[2020-01-31 06:42] SRombauts commented on #266
This is a bit worrying; how are you linking to the SQLiteCpp library? dyn / statically?

To me it looks a bit like if you would be actually still be linking with an older copy the of library.

[2020-02-01 05:40] poldi171254 commented on #266
I think the issue is at my end. I'm investigating and will let you know what I find

[2020-02-03 22:18] poldi171254 commented on #266
I have rebuilt SQLiteCpp with the internal SQLite3 source and everything works.

[2020-02-03 22:20] SRombauts commented on #266
Thanks, all is good then 😊

[2020-02-03 22:20] #266 closed

[2020-02-03 22:50] poldi171254 opened #270 "SQLite cannot get column no such module: FTS5"
Trying to match mysql FULLTEXT Index feature and found a reference to FTS5.

The query
CREATE VIRTUAL TABLE podcastchannels using FTS5 (id INTEGER,url TEXT,title TEXT,weblink TEXT,image TEXT,description TEXT,copyright VARCHAR(255),directory VARCHAR(255),labels VARCHAR(255),subscribedate VARCHAR(255),autoscan BOOL, fetchtype INTEGER,haspurge BOOL, purgecount INTEGER,writetags BOOL, filenamelayout V

[2020-02-06 05:38] poldi171254 opened #271 "escaping quote in SQLite statement"
Not really an issue with SQLiteCpp, but given your expertise I thought you may have come across a solution.
I need to store strings with filename similar to in sqlite, but cannot find any function (similar to mysql_real_escape_string()) that will do this

/home/llist/ourMusicTagged/Styx/Greatest Hits/"01 Lady '95.flac"
/home/llist/ourMusicTagged/Styx/Greatest Hits/'09 Come Sail Away.flac'
/home/ll

[2020-02-07 03:22] Naville opened #272 "Supporting WSL by enabling optional default Database constructors"
I currently uses the following CMake:
[code]
and

[code]

To workaround the lack of ``fcntl`` support on Windows WSL. I figured if this could be tested and probably merged into the main project

[2020-02-07 05:38] SRombauts commented on #272
Hi, can you tell le what is not working correctly une Windows Subsystem for Linux ?
I was under thé impression that is was working correctly, with all unit tests passing.

What change to the Database constructor are you proposing?

Cheers !

[2020-02-07 06:37] Naville commented on #272
@SRombauts See https://github.com/microsoft/WSL/issues/2395 and its comments, better than my own words

[2020-02-07 06:40] Naville commented on #272
I was hoping that the ``aVfs`` argument here defaults to ``"unix-dotfile"`` on WSL so library users dont have to explicitly deal with this https://github.com/SRombauts/SQLiteCpp/blob/be1a8eeace02ce98dfa3da688d1011c5bb895985/include/SQLiteCpp/Database.h#L146

[2020-02-11 00:59] tcraigtyler opened #273 "CMake files not installed in same lib directory"
SQLiteCpp 3.0.0, RHEL 7.7 x86_64, CMake 3.14.6

`make install` creates cmake files in both lib/cmake and lib64/cmake directories:
[code]
Trying to use find_package(SQLiteCpp) then results in the following error message:
[code]

[2020-02-11 06:54] #273 closed

[2020-02-11 08:07] SRombauts commented on #272
Ah yes, I see !
Let me see how to reproduce the issue first

[2020-04-05 19:43] travishaagen opened #276 "CMake fails on Ubuntu"
Using Ubuntu 19 (on arm64), I have no trouble compiling SQLiteCpp, but my own CMake configuration fails with the following error:

[code]

I'm guessing that since `SQLiteCppConfig.cmake` contains the line `find_dependency(SQLite3)` that it is telling CMake that either `SQLite3Config.cmake` or `sqlite3-config.cmake` exist on system. However, it looks like this Ubuntu issue is stating that these fil

[2020-04-05 19:46] travishaagen commented on #276
On another note, I have been compiling on Mac and Alpine Linux prior to trying Ubuntu and ran into other CMake issues with SQLite3. I found the following that seemed to work:

[code]

[2020-04-05 20:38] SRombauts commented on #276
Oh yes I see, I think that SQLiteCppConfig doesn't work with/has not been thought for use with the Internal SQLite3

Out of curiosity, Have you checked if I am using/testing it in https://github.com/SRombauts/SQLiteCpp Example ?
Sorry I am not in front of a computer

Are you able to patch it for your needs ?

Cheers

[2020-04-08 15:09] Al2Klimov commented on #195
Hello @SRombauts!

It the way you access `SQLite::Statement::Ptr#mpRefCount` the only reason why your lib isn't fully thread-safe?

If yes, shall I make it a `std::atomic<unsigned int>*`?

Best,
AK

[2020-04-11 16:34] travishaagen commented on #276
I can make it work by commenting out the second line in the installed file:

[code]

I think the problem is that `find_dependency(SQLite3)` tells CMake to look for either `SQLite3Config.cmake` or `sqlite3-config.cmake`, but since they do not exist, then it fails.

Is the call to `find_dependency(SQLite3)` in [SQLiteCppConfig.cmake.in](https://github.com/SRombauts/SQLiteCpp/blob/master/cmake/SQLite

[2020-05-14 17:56] sum01 commented on #159
This could probably be closed since bd956b025e6710d78717c19f57bbc10de0fb53d2 fixes it.

[2020-05-15 12:49] #159 closed

[2020-05-15 12:50] SRombauts commented on #159
Yes, thanks!

[2020-05-15 14:05] SylvainCorlay opened #279 "CMAKE_BUILD_TYPE not used on windows"
It appears that the `CMAKE_BUILD_TYPE`  standard cmake flag is ignored.

What is the appropriate way to produce a release build of SQLiteCpp on windows?

[2020-05-16 03:55] sum01 commented on #279
Windows is a multi-config build system, so you can do the following (assuming you're currently cd'd to the repo).
[code]

This'll be the same for all projects you might build with Cmake.

[2020-05-16 04:11] sum01 commented on #276
The call to `find_dependency(SQLite3)`
is necessary if there is public linkage to SQLite3 to the library. This is how you propagate public dependencies automatically for anyone using your library.

What's going wrong is that the FindSQLite3 (official) module isn't in Cmake until version 3.14, while you're on Cmake version 3.13, but the `find_dependency` call is trying to use an official module.

A

[2020-05-16 06:20] SRombauts commented on #279
Yes, thanks for answering.

It's done like that in CI https://github.com/SRombauts/SQLiteCpp/blob/master/appveyor.yml and https://github.com/SRombauts/SQLiteCpp/blob/master/.github/workflows/build.yml

[2020-05-16 06:20] #279 closed

[2020-05-16 09:52] SylvainCorlay opened #280 "Running the tests on windows"
Hi, many thanks for your work on this package. We use it for the [xeus-sqlite](https://github.com/jupyter-xeus/xeus-sqlite) project, a Jupyter kernel for SQLite, which you can try by clicking [here](https://mybinder.org/v2/gh/jupyter-xeus/xeus-sqlite/stable).

I am working on packaging SQLiteCpp on conda-forge for Windows (OS X and Linux builds are already availble).

- Our build at https://github

[2020-06-01 13:30] #153 closed

[2020-06-01 13:36] SRombauts commented on #280
Hello,

I think that your link-time error is related to MSVC runtime library incompatibility between your application and the unit test library I use (Google test).
I am using it by specifying explicitly the runtime to be used, that is not the default one.

Could you have a look at **#236 Disable explicit setting of MSVC runtime** that should solve this?

Let me know.

[2020-06-01 15:25] SylvainCorlay commented on #280
Thanks for your reply @SRombauts.

To clarify, I am not building a specific application, just the tests of SQLiteCpp, as part of the packaging of sqlitecpp for conda.

I will look into the linked PR.

[2020-06-03 16:11] rwrx opened #282 "Missing SQLITE_OPEN_FULLMUTEX flag in SQLite namespace"
Would you also want to add a SQLITE_OPEN_FULLMUTEX into SQLite namespace?

[2020-06-03 17:16] SRombauts commented on #282
Yes, you are right we should

[2020-06-03 17:21] SRombauts opened #283 "Remove obsolete FindSQLiteCpp.cmake"
Why maintain a FindSQLiteCpp.cmake file when the export is already generated & installed via Cmake?
Exported XXXConfig.cmake files serve the same purpose.

If someone can provide a PR it would be awesome, with perhaps a note on the README for how to use the Config file

[2020-06-03 23:17] rwrx commented on #282
Ok, I can create a pull request if you would want.

[2020-06-04 11:34] SRombauts commented on #282
Yes please 😀

[2020-06-04 12:47] rwrx commented on #282
I have created a pull request here: https://github.com/SRombauts/SQLiteCpp/pull/284

[2020-06-08 20:40] #282 closed

[2020-06-11 01:44] stvriver opened #285 "Enable to declare an object on stack without initialization"
Hello,
Currently there is no way to declare a SQLite::Database object without initialization. I have a recommendation that the class SQLite::Database should have more functions allowing to delay initialization or to open/close any database at any time without destroying and recreating the Database object.

[2020-06-15 19:44] ptrks commented on #285
What's the use case for delaying initialization? I can't think of any off the top of my head, but I could certainly be missing a scenario that is uncommon for me.

[2020-06-17 23:14] stvriver commented on #285
The scenario is quite popular, I want to declare a SQLite::Database object (not a pointer) as a member of a class and the path to data file for sqlite can be specified only at Initialize() function of the class.
With current version of SQLite::Database, the scenario is impossible.

[2020-07-29 19:51] remz1337 opened #289 "Does this library support the JSON1 extension?"
Hello,

I would like to use this library to store JSON objects in sqlite. Does this library support the JSON1 extension?

Thanks

[2020-08-03 13:56] SRombauts commented on #289
Hi, thanks for asking, apparently someone else just proposed that: #289

[2020-08-03 14:06] #289 closed

[2020-08-09 17:00] frithrah commented on #285
Hi. I'm running into this too. I'm trying to create a static SQLite::Database object that I connect to when required and keep the connection open. I think the only way to do this is add an empty constructor and a new method to open a db. Would that be best do you think?

[2020-08-11 14:25] rwrx opened #290 "New version"
Hello, I just have question on when do you plan to release a new version?

[2020-08-11 14:44] SRombauts commented on #290
Hello, do you want a release quickly?

I have currently no plan for one: I could do one shortly but usually, I spend some time reviewing pull requests & bugs before (which I don't have currently).
Do you see anything of particular interest for you?

Cheers!
Sébastien

[2020-08-11 14:46] SRombauts commented on #285
A Pull Request was actually provided by @kirillin to improve this #225 Add default constructor and open() method.

This main thing is that his code is no passing all checks!
I could fix this, but I lack the time right now

Cheers,
Sébastien

[2020-08-11 14:50] rwrx commented on #290
No, I do not want to release quickly. I just wanted to integrate this change https://github.com/SRombauts/SQLiteCpp/pull/284 into my repository and use tagged version, not specific commit or latest master. But only if this minor release (maybe 3.0.1) makes sense for you.

[2020-08-11 15:09] SRombauts commented on #290
3.1.0 it is, since there are a couple of new API:
https://github.com/SRombauts/SQLiteCpp/releases/tag/3.1.0

Enjoy, and thanks for your support 👍
Sébastien

[2020-08-11 15:09] #290 closed

[2020-08-11 20:54] SylvainCorlay commented on #280
Hey @SRombauts, thanks for the pointer (and it's nice to see @emmenlau here).

I am not sure that we should change the default on /MT and /MD for the library depending on whether we build the tests or not.

[2020-08-12 08:49] emmenlau commented on #280
Hey @SylvainCorlay , small world! So to confirm you would promote the PR #236 Disable explicit setting of MSVC runtime in order *not* to change the default on /MT and /MD for the library depending on whether we build the tests or not, correct?

@SRombauts , I know there are not so many advocates for PR #236 yet, but do you think we could give it a try to see if it works for the larger community?

[2020-08-12 08:53] SylvainCorlay commented on #280
Correct.

[2020-08-19 12:24] #283 closed

[2020-08-23 07:16] smichaku opened #294 "(optionally) build internal sqlite3 library with -ffunction-sections"
SQLiteCPP uses the SQLite amalgamation source when building with SQLITECPP_INTERNAL_SQLITE=ON. This puts all the library's code in a single section which is linked as a dependency with SQLiteCPP. Compiling the amalgamation source with `-ffunction-sections` will put each function in a section and allow the linker to throw away unused sections making the final binary size smaller.

[2020-08-31 06:14] Chronial opened #296 "Accept std::filesystem::path in Database constructor"
It would be helpful if SQLiteCpp would accept a `std::filesystem::path` as the database path.

That would shift some work from the users of the library to the library, since sqlitecpp would then have to take care of converting the path to utf8.

[2020-09-02 15:14] sum01 commented on #296
That would require a minimum of C++17. I'm all for moving forward, but I would guess some might have a problem with that.

As an aside, it's worth pointing out that `std::filesystem::path` has a `u8string()` method, so there's no extra work to convert to u8.

[2020-09-04 10:02] zhaoweny opened #297 "link error: symbol already defined when SQLITE_HAS_CODEC=ON"
OS: Windows 10 2004
Compiler: Visual Studio 16 2019 x64

I'm trying to use SQLiteCpp with sqlcipher on windows from conan. Since the conan build of SQLiteCpp has `SQLITE_HAS_CODEC=OFF` and no way to enable it, I tried to build it from source.

In my `CMakeLists.txt`, I have these setup, which causes cmake to download the source of SQLiteCpp and configure it as if I added SQLiteCpp with `add_subdir

[2020-09-04 10:31] zhaoweny commented on #297
From my research, it seems sqlite3 removed `SQLITE_HAS_CODEC` support May 2020. Then sqlcipher have to maintain a fork of sqlite3 to provide it's encryption layer. So these library can't be linked together anymore.

[2020-09-04 10:34] zhaoweny commented on #297
here is my `conanfile.txt`
[code]

[2020-09-04 22:21] KingDuckZ opened #298 "Add support for string_view"
Not sure if this is possible, but it would be nice to have string_view support in calls to `bind()`

[2020-09-22 11:50] anshuvij opened #301 "Xcode issue:exc_bad_access (code=1 address=0x100"
I am getting this issue when i run my app launches.
Looks like ~ptr() of statement.cpp is called twice.
any solution for this?
<img width="1431" alt="Screen Shot 2020-09-21 at 4 17 43 PM" src="https://user-images.githubusercontent.com/12726615/93878542-dfcb8480-fcf7-11ea-9054-f746005ec059.png">

[2020-09-25 11:08] Grumbel opened #302 "SQLite::INTEGER, SQLite::FLOAT,... not declared `constexpr`"
The declaration of those constants currently looks like this:

[code]

This renders them unusable in contexts that require a constant expression, such as a `switch` statements. Declaring them `constexpr` and assigning a value inside the header should fix this.

[2020-10-01 13:58] waqqasjabbar opened #303 "Using SQLiteCpp with SQLCipher"
Hi,
I would like to use SQLiteCpp with SQLCipher. SQLCipher provide all the APIs of SQLite3 with additional functionality of encryption (using PRAGMA key = "<key>"). It seems like SQLiteCpp is dependant on SQLite3. Is there a way to link SQLiteCpp with SQLCipher instead of SQLite3?

Thanks
waqqas

[2020-10-05 18:02] paulocoutinhox opened #304 "Some checks for conan"
Hi,

I made a new PR for conan center index and need your help. We still need that patch for sqlite3?
https://github.com/conan-io/conan-center-index/pull/3114

And the version required for latest release is 3.32.3?

Thanks.

[2020-10-11 19:47] chronoxor opened #306 "MinGW compilation warning in pedantic mode"
MinGW generates warning with gcc 8.1.0 in pedantic mode:
[code]

[2020-11-10 10:59] wenwenchenbosch opened #309 "memory leak while inserting data to database?"
I use this library for storing data into a sqlite database and faced some memory leak issues.
After I wrapped the following example code in a while loop, I can reproduce the same memory leak issues
https://github.com/SRombauts/SQLiteCpp/blob/adb7e7c489b0574a6c2f354ab14213bfb9dd4e49/examples/example2/src/main.cpp#L52-L59

Valgrind can also see the memory leak:
[code]

The C interface of SQLite libr

[2020-11-11 12:21] bitnick10 opened #310 "C++ 2a modules support"
Hey, guys. Is there a plan to support C++ 2a modules?

[2020-11-17 07:57] kcowolf commented on #270
In case you're still seeing this, make sure you define the SQLITE_ENABLE_FTS5 flag when you build SQLite/SQLiteCpp.  I used FTS with SQLiteCpp for a bit and it worked fine.

[2020-11-18 07:38] SRombauts commented on #306
Fixed by linked merge request #308

[2020-11-18 07:38] #306 closed

[2020-12-16 20:19] mlin commented on #213
`sqlite3_expanded_sql()` was added in [SQLite 3.14 (2016-08-08)](https://sqlite.org/changes.html). Its unconditional use in Statement::getExpandedSQL() seems inconsistent with [README.md's statement of compatibility](https://github.com/SRombauts/SQLiteCpp#dependencies) back to 3.7.15. I guess it'd be nice to have a switch to opt-out of that member function.

[2020-12-18 18:12] Spammed commented on #204
Hi Sébastien, Hi TridentTD,
First of all, big thanks for the friendly C++ packaging of SQLite. I am enjoying this.

Is there any progress on this?

I would like to create a 'typed blob' = {typeinfo + blobdata} without having to copy/move the blobdata extra times for this.
The class Blob would be made for this, wouldn't it?

[2021-01-05 04:41] paulocoutinhox opened #315 "Bug when compile with sqlite 3.34.0"
Hi,

Im getting the following error:

[code]

Can you help me?

[2021-01-06 07:35] SRombauts commented on #315
Hi!
Thanks for reporting, though I don't see how that would be possible.
Nothing is ever removed in SQLite https://sqlite.org/changes.html

I suspect that you might be trying to link against à pre-built SQLite version were the extension mechanism is disabled.

Let me know

[2021-01-06 07:43] SRombauts commented on #296
Thanks for asking, and many thanks to @ptrks for providing an implementation a few days ago

[2021-01-06 07:43] #296 closed

[2021-01-06 17:44] paulo-coutinho commented on #315
I revert it and i'm using version 2.5.0 and this problem don't happen.

[2021-01-06 17:54] paulo-coutinho commented on #315
It only happen for iOS, because on other platform it don't happen.

If i change from:
[code]

to:
[code]

The error happen.

[2021-01-06 20:23] chronoxor opened #317 "Visual Studio 2019 compilation error ('SQLite::Database::Database': delegating constructor calls itself)"
[code]

[2021-01-06 20:41] chronoxor commented on #317
![image](https://user-images.githubusercontent.com/4397805/103817962-b2250400-5078-11eb-8c91-e7561cf5fdf4.png)

[2021-01-06 20:56] chronoxor commented on #317
Send a PR with a fix

[2021-01-06 22:21] SRombauts commented on #317
Thanks for reporting!
I'll see what to do...

I'll also have to check why it is not catched by continuous integration (Travis CI and / or Github Actions)

[2021-01-07 00:55] chronoxor commented on #317
Filesystem is also issues with MinGW-w64:
[code]

[2021-01-08 03:17] Chronial commented on #317
@SRombauts The default cmake build does not build with c++17, so the problematic code is disabled via `#ifdef`: https://github.com/SRombauts/SQLiteCpp/blob/master/CMakeLists.txt#L11

[2021-01-09 07:57] #317 closed

[2021-01-19 20:55] paulo-coutinho commented on #315
I checked now that it happen with sqlitecpp/2.5.0 too:

[code]

What i can do to solve it?

[2021-01-19 20:59] paulo-coutinho commented on #315
This is very very crazy...i have execute the build process again and it compile without problems o.o

[2021-01-25 19:10] paulo-coutinho commented on #303
Nice question. Any solution for this?

[2021-01-26 03:15] waqqas commented on #303
@paulo-coutinho I wrote my own header-only c++ wrapper that should work with both sqlcipher and sqlite3.  Check it out at [here](https://github.com/waqqas/sqliter)

[2021-02-07 10:23] 0NG opened #322 "[BUG] filesystem: No such file or directory"
Bug may exist in [this line](https://github.com/SRombauts/SQLiteCpp/blob/master/include/SQLiteCpp/Database.h#L17).

I use SQLiteCpp on WSL (Ubuntu 18.04 and Ubuntu 20.04) and compile it with `--std=c++17`. However, it always raises an error `filesystem: No such file or directory`.

After debugging, I found that `__cplusplus = 201703`, so `(__cplusplus >= 201703L) && ((!defined(__MINGW32__) && !def

[2021-02-28 00:59] omar-a-007 opened #323 "[Question] Possible to bind NULL ?"
_For example_
[code]

Where CategoryID is a Foreign Key works great unless I need to pass a null CategoryID, in which case an exception is thrown.
Doing a check and making CategoryID = "NULL" also doesn't work as that gets expanded to " 'NULL' "
Currently Im concatenating the variable within the insert statement itself as a workaround, but would like to find a more correct way with bind

[2021-02-28 11:21] SRombauts commented on #323
Hello,
What is the exception beeing thrown? I expect it's in fact a question for the SQLite3 library itself.

[2021-02-28 18:51] omar-a-007 commented on #323
Well, in that example scenario, CategoryID is a foreign key, so it must be set to either NULL or an valid CategoryID.
Setting it to a valid CategoryID works just fine, but if I want to pass in NULL, I have no way to do that.
For instance, I cant
`query.bind(":CategoryID", NULL);  // this is a null ptr`
Similarly, I cant
`query.bind(":CategoryID", "NULL"); `

^ Produces the ExpandedSQL of `SQLite::

[2021-02-28 19:12] omar-a-007 commented on #323
here's a quick sample file, testme.cpp

[code]

[2021-03-23 11:07] bitnick10 opened #325 "How to load db from memory?"
Hey guys.Is there a way to load db from memory?

[2021-05-13 06:12] snowuyl opened #326 "Visual studio compiling error for Windows endline found"
I use Visual Studio 2019 to compile SQLiteCpp. But the following error occurred.
C:\workspace_C++_Win10\SQLiteCpp\src\Backup.cpp : error : One or more carriage-return \r (^M) (Windows endline) found; Use only UNIX endline \n  [whitespace/newline] [5]
C:\workspace_C++_Win10\SQLiteCpp\src\Column.cpp : error : One or more carriage-return \r (^M) (Windows endline) found; Use only UNIX endline \n  [whi

[2021-05-13 08:51] snowuyl commented on #326
I have fixed this issue by changing the global setting for core.autocrlf to input before cloning the repository.
git config --global core.autocrlf input

[2021-05-13 08:51] #326 closed

[2021-05-29 19:31] paulo-coutinho opened #327 "Sqlite Load Extension Error"
Hi,

Im getting this error:

[code]

[code]

This is strange because with version "2.5.0" the problem don't happen, but only with "3.1.1".

And it only have problem when compile for iOS:
![image](https://user-images.githubusercontent.com/395096/120082956-36b20680-c09c-11eb-9a72-e7e2abf99509.png)

Can you help me?

[2021-06-02 18:03] michaeldurland commented on #323
There appears to be a bind function that allows binding to NULL:

`void bind(const char* apName) // bind NULL value`

Would that suffice?

[2021-06-10 01:54] yurivict opened #328 "Broken link: https://srombauts.github.com/SQLiteCpp"
Project's GitHub page contains this broken link.

[2021-06-10 01:58] yurivict opened #329 "sqlitecpp conflicts with sqlite3 (installs files into the same place). Problematic file: /usr/local/include/sqlite3.h"
[code]

OS: FreeBSD 13

[2021-06-10 02:04] yurivict commented on #329
```SQLITECPP_INTERNAL_SQLITE=OFF``` fixes this.

[2021-06-10 02:04] #329 closed

[2021-07-10 19:56] etorth opened #330 "support latest sqlite3 for ```returning``` clause"
The latest sqlite3 supports ```returning-clause``` to return affected rows in ```delete``` and others.
It's useful and could you please support it?

The first version supports returning-clause is 3.36, released on June 20, 2021.
https://github.com/sqlite/sqlite/releases/tag/version-3.36.0

[code]

[2021-07-16 15:07] paulo-coutinho opened #331 "How to get the number of updated/deleted rows?"
Hi,

How i can get the number of affected rows for update/delete?

Example:

[code]

Thanks.

[2021-07-16 15:15] paulo-coutinho commented on #331
There is any utility for this?

[code]

If not, can you add a function like this ?

[code]

[2021-07-16 15:16] paulo-coutinho commented on #331
You can add this:

[code]

[2021-07-22 14:15] Tectu opened #332 "Repository web link broken"
The web link of the repository (the one you can set in the repository settings) is currently broken (404 - Not Found): https://srombauts.github.com/SQLiteCpp

[2021-07-23 15:45] linux-fan-dave commented on #303
This is already fixed - see the CMakeLists.txt

[2021-07-25 07:12] SRombauts commented on #332
Oh, thank you for taking the time to report!
the 404 error message says that .com URL are broken since the 15 of April!

Should be fixed now

[2021-07-25 07:12] #332 closed

[2021-07-25 07:25] SRombauts commented on #331
Hello @paulo-coutinho,

Your query.exec() call does already return the number of changes made :)

     * @return number of row modified by this SQL statement (INSERT, UPDATE or DELETE)
     */
    int Statement::exec()

[2021-07-25 10:35] #331 closed

[2021-07-25 10:37] SRombauts commented on #331
Thanks for the suggestion,

I implemented it and added it in examples and unit tests, even if it wasn't really strictly needed; it shows people might look for it like you did.

Cheers!
Sébastien

[2021-07-26 07:31] SRombauts commented on #302
Hello, thanks for the suggestion.
I think I'll go for it, though I wanted to avoid including <sqlite3.h> in any header for encapsulation, avoiding huge compilation time etc.

[2021-08-06 02:10] zhaoweny commented on #297
It seems SQLiteCpp has fixed this in HEAD - is there a plan to release it? :)

[2021-08-06 02:10] #297 closed

[2021-08-24 18:13] jagerman commented on #330
It's not *quite* that new: it was added in 3.35 (released 12 March 2021).

[2021-08-24 18:17] jagerman commented on #330
Also for the record: I've used SQLiteCpp linked to a compatible sqlite3 (rather than the embedded copy) and RETURNING queries work just fine.

[2021-08-24 18:20] etorth commented on #330
that's true, I can alternatively link to the newer SQLite version.
I mean, can SQLiteCpp pack the latest sqlite3 and distribute then we don't need extra dependency?

[2021-09-13 07:32] ardabbour opened #336 "Feature request: add catkin configuration"
Adding a `package.xml` configuration for [catkin](https://github.com/ros/catkin) would allow for smoother integration with ROS software, a majority of which are written in C++.

[2021-10-01 21:12] paulo-coutinho commented on #327
Hi,

Fixed in conan python file to disable it by variable passed to sqlite3.

[2021-10-01 21:18] paulo-coutinho commented on #327
Hi,

We need an option to sqlitecpp to disable load_extension. We have one to sqlite3 and we need one for sqlitecpp.

[2021-10-01 22:36] paulo-coutinho commented on #327
I made a patch here:
https://github.com/conan-io/conan-center-index/pull/7486

[2021-10-01 22:36] paulo-coutinho commented on #327
And a patch locally here:
https://github.com/SRombauts/SQLiteCpp/pull/338

[2021-10-01 22:36] #327 closed

[2021-10-06 14:40] gencer commented on #103
Of course not. Only open once at startup then use until connection lost (db is deleted or something went wrong). You should not open db every time unless you have specific use case for it.

[2021-10-06 15:50] SRombauts commented on #103
No, you can see above (albeit with a very small example) that I open the db once and for all in the main() function.
On an other project, I actually close it if unused for some time, and then reopen it on next usage.
In all real life example I use unique ptr or "optional" storage

[2021-11-02 12:51] yanghongtian opened #342 "how to store customized struct as a blob column"
struct Rect {
int x;
int y;
int w;
int h;
};
struct ObjBase : Copyable {
    ObjBase() = default;
    ObjBase(ObjType type_) : type(type_) {}
    Timestamp ts;
    ObjType type = InvalidObj;
    int track_id = -1;
    Rect rect;
    float confidence = 0.f;
    int ch_id = -1;
};

class Person : public ObjBase {
...
};

how to store rect filed as a rect blob column using sqlite_orm?

looking forwar

[2021-11-02 12:58] yanghongtian opened #343 "how to automatically store data into one table a day"
data generated in 2021-10-30 -> store to table "t_2021-10-30"
date generated in 2021-11-01  -> store to table " t_2021-11-01"

all data generated should has a timestamp field which can be used to determine the date string.

[2021-11-02 15:26] #343 closed

[2021-11-02 15:27] #342 closed

[2021-11-25 09:50] guoh27 commented on #322
+1

[2021-11-25 13:11] SplitGemini commented on #322
gcc 7.5 not has std::filesystem but std::experimental::filesystem
see [nlohmann/json/pull/3101](https://github.com/nlohmann/json/pull/3101) and [nlohmann/json/issues/3090](https://github.com/nlohmann/json/issues/3090), please fix

[2021-11-28 10:17] paulo-coutinho commented on #322
+1

[2021-12-15 18:43] Fytch opened #347 "Feature request: move-assignment operator for Statement"
(See #190)

The explicitly deleted copy-assignment operator of `SQLite::Statement` stops the compiler from generating a move-assignment operator for this type. On a related note, having a default constructor would also be nice. Consider the following example that I would wish to be able to write:

[code]
Currently, I have to box all statements that I use in this way into `optional`s. Ugly!

[2022-01-07 14:17] SRombauts commented on #347
Hello Fytch, thanks a lot for your good suggestion!

This should have been totally obvious to me when I switch to using C++11, but that wasn't long ago, and I have been busy with work & family.

Can you perhaps provide a Pull Request for it?
I should be able to get more time to work on this project this year, let's make it great again :)

[2022-01-15 13:12] mcluvin2018 opened #348 "Can't compile on Apple Silicon due to x86 ASM code"
Hi, I am having a hard time adding this as a submodule in my git project because it won't compile on Apple M1 chip due to x86-specific ASM instructions.

`[ 33%] Building C object depends/SQLiteCpp/sqlite3/CMakeFiles/sqlite3.dir/sqlite3.c.o
/var/folders/bn/jlvhdft91hx6hjjh685tkhqw0000gn/T//ccN1VGLR.s:3466:15: error: index must be an integer in range [-256, 255].
        ldr     x0, [x0, ___stack_c

[2022-01-16 19:32] emmenlau commented on #280
Just kindly promoting this issue (and matching PR) again...

[2022-01-16 22:25] #348 closed

[2022-01-16 22:25] mcluvin2018 commented on #348
False alarm

[2022-02-07 20:53] nyckmaia commented on #75
@SRombauts how can I create a "in memory" database?

[2022-02-08 10:17] nyckmaia commented on #75
I found in your `example01`...thanks!

[2022-02-09 10:41] AndresDuque opened #350 "How sanitizing is managed by the SQLiteCpp library?"
Hi,

I didn't find any examples of sanitizing.

I would like to do something like:

    std::string m_insert = "INSERT INTO table_name (x,y,z) VALUES ( quotes(x), quotes(y), quotes(z))" .

To check if the attributes coming from an object are already quoted or not for preventing SQL Injection. Does the API have such a function?

Thank you in advance @SRombauts .

[2022-02-20 07:24] kcowolf commented on #350
Would something like the following cover what you're looking for?

[code]

This prevents SQL injection from the x, y, and z variables because the SQL statement is compiled as a SQLite prepared statement when the SQLite::Statement constructor is called.  Binding x, y, and z afterwards ensures they are always treated as values and not as additional SQL code to execute.

https://github.com/SRombauts/

[2022-02-22 14:46] nidefawl commented on #276
https://github.com/SRombauts/SQLiteCpp/blob/ce6dd9b82234e0427801380286d87f5bae417cca/cmake/SQLiteCppConfig.cmake.in#L2

Should be updated to
[code]

[2022-03-02 12:47] AndresDuque commented on #350
Hi @kcowolf ,

Yes, that's exactly what I am looking for, thank you so much!

[2022-03-02 12:47] #350 closed

[2022-03-15 00:19] krishna116 opened #351 "I got a lots of _stack_chk_fail when linking this library in MSYS2."
This is my workflow in MSYS2(www.msys2.org):
[code]
[code]

## cmake --build build, error here:

![image](https://user-images.githubusercontent.com/41564221/158281191-cae2a7d0-bd52-4b8b-905e-1412c50f5911.png)

[2022-03-15 01:15] krishna116 commented on #351
After search answer on the web, this works for me:
`target_link_libraries(${TestItem} PRIVATE SQLiteCpp sqlite3 ssp)`
the **ssp** library linked here is GCC internal library(https://reviews.freebsd.org/D15687)
thank you.

[2022-03-15 01:15] #351 closed

[2022-03-28 11:43] AndresDuque opened #353 "Best practice to encrypt and decrypt SQLite DB"
Hi there,

I would like to encrypt my DB using the SQLiteCpp library. I saw the examples regarding this topic using a key to encrypt or decrypt the DB (`db.rekey("123secret");`)

What's the best practice to define this key avoiding to hardcode the key?

Best regards,
A

[2022-03-29 10:27] #347 closed

[2022-05-01 02:11] bentonstark commented on #353
I am looking at this issue as well.  I would like to utilize the sqlite3_serialize and sqlite3_deserialize APIs so I can serialize/encrypt/persist a modest sized database file.  I can then decrypt/deserialize and load the database into an in-memory sqlitedb for use.  The problem I am running into is there is no support through SQLiteCpp for sqlite3_serialize and sqlite3_deserialize.  I will probab

[2022-05-01 19:58] bentonstark commented on #353
The sqlite3 database never provided native encryption support but rather provided an API for 3rd party plugins (and of course their own).  After some research, it appears the developers of sqlite3 removed support for straight forward 3rd party encryption plugins in 2020.  The developer of wxsqlite3 discovered this rather unexpectedly when attempting to [compile his own code](https://sqlite.org/for

[2022-05-02 08:13] AndresDuque commented on #353
Hi @bentonstark,

Thank you for all the information. At the moment, I am using a library called cryptopp to encrypt the DB and the DB data. You could have a look there as well.

[2022-05-11 12:23] AndresDuque commented on #353
FYI, I just encrypted the content of the DB using the CryptoPP library. I am using the Galois/Counter Mode for that, also to check authenticity. It works like a charm and I have no hardcoded key or anything.

[2022-05-11 12:23] #353 closed

[2022-07-05 21:13] cca32 opened #356 "In Memory, Shared Cache, with name"
when using the python SQLite wrapper I usually do something like this to create an in-memory, shared-cache database with a name:
[code]
I am trying to use the `SQLite::Database` constructor to create a similar result but it keeps giving me the following:
[code]

Am i misunderstanding the constructors translation to the `SQLite` API? Any help would be appreciated, thanks!

[2022-07-06 03:26] cca32 commented on #356
for anyone that comes across this stupid mistake, from the documentation: https://www.sqlite.org/c3ref/open.html

[code]
so in order to use `SQLITE_OPEN_URI`, one of the three flags above must also be used with it
i naively thought the library handled this in the same way python's `uri=True` did

[2022-07-06 03:26] #356 closed

[2022-07-06 19:41] paulocoutinhox opened #357 "New version"
Hi,

When we will have a new version?

The latest release is from 2020.

Thanks.

[2022-07-24 15:58] SRombauts commented on #357
Hi, it's a good question!

I wanted to release a few months ago but I noticed how the current status of the code is incoherent regarding the int/long vs int32_t/int64_t. I am now trying to merge a few more changes and tackle this issue

[2022-07-24 16:04] SRombauts commented on #328
Thanks, I think that I have fixed that a long time ago now :)

[2022-07-24 16:04] #328 closed

[2022-07-24 16:22] SRombauts commented on #325
The best approach is probably to use the Backup to load a db from a file and copy it in a db ":memory:"
(eg in Python https://stackoverflow.com/a/53253110)

I should add an example doing exactly that

[2022-09-04 13:36] 89trillion-feiyang opened #365 "What should I do, I want to use sqlcipher in android and ios for my sdk"
I want to use sqlcipher for android and ios in my sdk.

I want to know what I should do.

When I set in cmake:

[code]

Complier told me `use of undeclared identifier 'sqlite3_key'`.

Please teach me

[2022-09-08 08:32] #365 closed

[2022-09-17 06:02] paulocoutinhox commented on #357
Hi @SRombauts,

Do you have any update about new versions?

Thanks.

[2022-09-18 12:32] SRombauts commented on #357
Hello,

I am giving it another try right now! Last time I stopped waiting for some more cleanups.

Thanks for asking, and don't hesitate to ask multiple times if needed ;)

Cheers!

[2022-09-18 13:04] SRombauts commented on #336
Thanks for you contributions :)

[2022-09-18 13:04] #336 closed

[2022-09-18 13:16] SRombauts commented on #39
Implemented by #299

[2022-09-18 13:16] #39 closed

[2022-09-18 14:15] SRombauts commented on #357
I have just released https://github.com/SRombauts/SQLiteCpp/releases/tag/3.2.0

Let me know if we need some quick patches

[2022-09-18 14:15] #357 closed

[2022-09-19 06:09] #315 closed

[2022-09-19 06:10] paulocoutinhox commented on #222
It is working:

https://github.com/nativium/nativium
and
https://github.com/nativium/nativium-modules

[2022-09-19 06:10] #222 closed

[2022-09-19 06:11] #304 closed

[2022-09-19 06:11] paulocoutinhox commented on #195
Any update?

[2022-09-19 06:12] paulocoutinhox commented on #357
Thanks. Im trying updating it from conan to use in my projects:
https://github.com/nativium/nativium-modules

[2022-09-20 01:05] joenano commented on #276
This seems like a great library, shame its an absolute nightmare trying to use it.

Instructions say

"you can comment out the following line in src/Column.h:

#define SQLITE_ENABLE_COLUMN_METADATA"

but the line doesnt exist

[2022-09-20 02:22] 89trillion-feiyang commented on #303
Any news about this?

[2022-09-20 04:15] paulocoutinhox commented on #303
Hi @89trillion-feiyang,

You can set cmake option "SQLITE_HAS_CODEC" to "ON".

It will require that your cipher library implement `sqlite3_key` and `sqlite3_key_v2` methods, like this:
https://github.com/sqlcipher/sqlcipher/search?q=sqlite3_key%20sqlite3_key_v2

If you enable it, cmake project will try import sqlcipher:
https://github.com/SRombauts/SQLiteCpp/blob/master/CMakeLists.txt#L251-L285

M

[2022-09-21 09:09] 89trillion-feiyang commented on #303
Thank you very much! I solved my problem, thanks again.

[2022-09-21 09:11] 89trillion-feiyang commented on #303
Thank you.
According to your solution, I solved my problem, thanks again

[2022-09-27 02:43] paulocoutinhox opened #369 "[question] How to work with Blob?"
Hi,

How to work with Blob data?

First, to store, im using `query.bindNoCopy(":value", static_cast<const void*>(value.data()), value.size());`. It is correct?

Second, how to read from `blob` returning a `vector` of `uint_8`? Im trying convert `query.getColumn("value").getBlob()` to `std::vector<uint8_t>`. There is a way to do it?

Thanks.

[2022-09-27 02:58] paulocoutinhox commented on #369
My solution is this:

[code]

Is this made using correct way?

[2022-09-30 07:41] SRombautsU commented on #369
Hello,

Your question made me check the examples/example1/main.cpp where I tried to have examples for all the most important features. Unity tests could help with that.
And if you feel they don't show enough, we could actually just add more using more modern c++ since the one I provider are "zero allocation" ie not std::vector<> with allocation but eg "char buffer[1024]" that uses the stack direct

[2022-09-30 07:48] SRombautsU commented on #369
And to answer more directly your question, what you are doing is right;

This will make a copy of the content of the pointer p into the vector

The memory allocated by SQLite for the content of the pointer p will be released when the query will be destroyed (typically when it goes out of scope, after the return statement

[2022-09-30 07:50] SRombauts commented on #369
Hello,

Your question made me check the examples/example1/main.cpp where I tried to have examples for all the most important features. See
 -  https://github.com/SRombauts/SQLiteCpp/blob/ac7541aaf75529d7ed9c0dee51a7f5d1b12b5d4c/examples/example1/main.cpp#L401

Unit tests could also help with that, see
- https://github.com/SRombauts/SQLiteCpp/blob/b611b5cf2859b9d7b982920ac9b7e4dfae83e062/tests/Stat

[2022-09-30 07:51] SRombauts commented on #369
But, to answer your question, what you are doing is right;

This will make a copy of the content of the pointer p into the vector

The memory allocated by SQLite for the content of the pointer p will be released when the query will be destroyed (typically when it goes out of scope, after the return statement

Sébastien

[2022-09-30 07:51] #369 closed

[2022-09-30 15:53] SRombauts commented on #330
An up-to-date version of SQLite was in fact already packed in the `master` branch of the project at the time of the question:
Commit 0da8c467 by Sébastien Rombauts, 10/06/2021 06:24 PM

I realize that it has taken way too long to officially release this support officially, but it is now in the latest https://github.com/SRombauts/SQLiteCpp/releases/tag/3.2.0

Cheers!

[2022-09-30 15:53] #330 closed

[2022-09-30 16:07] SRombauts commented on #323
Yes, that's it, eg in unit tests:
- https://github.com/SRombauts/SQLiteCpp/blob/b611b5cf2859b9d7b982920ac9b7e4dfae83e062/tests/Statement_test.cpp#L356

[2022-09-30 16:07] #323 closed

[2022-09-30 16:12] SRombauts commented on #309
Sorry that I didn't try to understand, reproduce, or even answer your question at that time.
What Valgrind output is showing is not memory leak; there is nothing **definitely lost**

[2022-09-30 17:33] SRombauts commented on #309
I added some do in the README on how to run valgrind memcheck on the provided "example1" little program https://github.com/SRombauts/SQLiteCpp#valgrind-memcheck

[code]

[2022-09-30 17:33] #309 closed

[2022-09-30 17:37] SRombauts commented on #280
The related PR have now both been merged
Disabling explicit setting of MSVC had been removed from the PR but I did made a similar fix yesterday in #370 I believe

Cheers!

[2022-09-30 17:37] #280 closed

[2022-09-30 17:39] SRombauts commented on #322
Fixed quite some time ago by the second PR

[2022-09-30 17:39] #322 closed

[2022-09-30 17:58] SRombauts commented on #276
@joenano I updated the README to say to

```turn off the option(SQLITE_ENABLE_COLUMN_METADATA "Enable Column::getColumnOriginName(). Require support from sqlite3 library." ON) in [CMakeFiles.txt](https://github.com/SRombauts/SQLiteCpp/blob/master/CMakeFiles.txt)```

[2022-09-30 18:12] SRombauts commented on #276
Hello, this should be finally fixed by the merge of #277

[2022-09-30 18:12] #276 closed

[2022-10-14 11:46] YuichiKamishiro opened #372 "SQLiteCpp expected unqualified-id before numeric constant"
Have this problem while building:
error: expected unqualified-id before numeric constant
33 | extern const int OK; ///< SQLITE_OK

[2022-10-14 12:27] YuichiKamishiro commented on #372
Deleted additional #include and it worked

[2022-10-14 12:29] #372 closed

[2022-10-15 08:51] YuichiKamishiro opened #373 "How to get type of the column(field) from the empty table"
Table is empty and i need to get type of the fields.

[2022-10-26 18:00] michaeldurland commented on #127
No activity in 3 years. Any chance this could be bumped up? The dllexport/dllimport code is needed to build this as a shared library. Thanks!

[2022-11-02 16:05] elad-dp opened #375 "Question about serialized mode"
Hi,
I read that "But SQLiteC++ does not support the fully thread-safe “Serialized” mode of SQLite, because of the way it shares the underlying SQLite precompiled statement in a custom shared pointer (See the inner class “Statement::Ptr”)."

My question is:
is it safe if I have a single database connection, and multiple threads are calling a function to read from/write to the database? (the functio

[2022-11-16 07:29] robonetphy opened #376 "Parameterized Query inside the `datetime` function"
Hey There,
It been long time since we are using your library, but I have one query for you that is it possible to add `parameterize` internal function of `sqlite` like as follow:
[code]

[2022-11-24 08:59] timosachsenberg opened #378 "Make use of std::filesystem optional via e.g. cmake"
I think it could make sense to make the use of filesystem functions optional.
In our case we don't use them, but it causes a few build errors on different systems.
E.g., we can't support older macOS clang versions and also the gcc on Ubuntu 18.04 failed to
properly detect whether we have the experimental/filesystem or filesystem header.

BTW, for us, we got it working by adding these two small lin